/* Global */
body {height:100%}
img { max-width:100%!important;}

* {margin:0;padding:0}
.clear {clear:both;}
video { 
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background:url(../images/typing_background.jpg) no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
.shadow_bg {
	top:0;
	left:0;
	background: url(../images/shadow_bg.png) repeat 0 0;
	position:absolute;
	width:100%;
	height: 100%;
}
.stopfade { 
   opacity: .5;
}
.purple { color: #711471;}
.lightpurple { color:#dc5cdc;}
.darkpurple { color:#480448;}

.green { color: #aad03b;}
.lightgreen { color:#d9fc75;}
.darkgreen { color:#8fb424;}

.charcoal { color: #474646;}
.lightgrey { color: #f5f5f5;}

.white {color: #fff;}

.landing_padding {
	padding-top: 5%;
}
.landing_padding_double {
	padding-top: 9%;
}
h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
h1 {
	font-size: 1.5em;
	color: #711471;
	text-transform:uppercase;
	font-family:"Lora";
	font-weight:400;
}
.bigh1 {
	font-size: 3.5em;
	margin: 0;
	text-transform:none;
}
h2 {
	font-size: 1.5em;
	color: #711471;
	font-family:"Lora";
	font-weight:400;
}
h3 {
	color: #F79828;
    font-family: "Lora";
    text-transform: none;
    font-weight: 400;
	margin:0;
	padding:0;
	font-size: 1.3em;
	padding-top: 4%;
}
h4 {
	color: #474646;
	font-size:1.1em;
}
h5 {
	color: #474646;
	text-transform:none;
	margin-bottom: .6em;
	font-size: .9em;
}
h6 {
}
ul {
	list-style: disc;
    padding:0;
	padding-left:5%;
}
#nav ul {
	margin-left:0;
}
li {
	font-family: 'Lora', sans-serif;
	font-weight: 400;
	font-size:1.1em;
	list-style-type:square;
}
p {
	font-family: 'Lora', sans-serif;
	font-weight: 400;
	color:#4b4b4b;
	font-size: 1.1em;
	line-height:1.6em;
	margin-bottom: 3.5%;
}
a {
	font-family: 'Lora', sans-serif;
	font-weight: 400;
	color: #B161A6;
	text-decoration:none;
	font-style:italic;
}
a:hover {
	color: #dc5cdc;
	text-decoration:none;
}
.learn_btn {
	text-align:center;
	text-transform:uppercase;
	font-style:normal;
	background:#a9cf39/*8e8e8d*/;
	border: none;
	padding: 3.5% 6%;
	color:#fff;
	text-decoration:none;
	cursor:pointer!important;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
 	bottom: 1.4em;
	margin-left:-18%;
}
.learn_btn:hover {
	background:#666;
	text-decoration:none;
	color:#fff;
}
@media screen and (max-width: 1200px) {.learn_btn {margin-left:-20%;}}
@media screen and (max-width: 1050px) {.learn_btn {margin-left:-22%;}}
@media screen and (max-width: 900px) {.learn_btn {margin-left:-26%;}}
@media screen and (max-width: 776px) {.learn_btn {margin-left:-14%;}}
@media screen and (max-width: 625px) {.learn_btn {margin-left:-16%;}}
@media screen and (max-width: 550px) {.learn_btn {margin-left:-18%;}}
.learn_btn_two {
	text-align:center;
	text-transform:uppercase;
	background:#fff;
	padding: 4% 5%;
	color:#666;
	margin: auto;
	margin-top: 8%;
	font-size:.9em;
	text-decoration:none;
	cursor:pointer;
	-webkit-border-radius: 14;
  	-moz-border-radius: 14;
  	border-radius: 14px;
	border: solid #9cdb69 1px;

}
.learn_btn_two:hover {
	background:#e6fbd5;
}
.basic_content {
	height:100%;
	padding-top: 8%;
	padding-bottom: 2%;
}
.basic_content li {
}
.basic_content ul {
	  padding: 0 0 0 40px;
}
.basic_content ol {
}
.slide_desktop { display:inherit; }
.slide_mobile { display:none; }

.btn-primary {background-color: #711471; border-color: #570F57;}
.btn-primary:hover {background-color: #dc5cdc; border-color: #C54FC5;}
.btn-success { background-color: #87AE13; border-color:#7FA410 ;}
.btn-success:hover { background-color:#aad03b ; border-color: #9CBF34;}

.3colrow {
	max-width:900px;
	margin:auto;
}
.dotted_connector {
	padding: 2% 0;
	width:1px;
	margin:auto;
	/*border-left: 1px dotted rgba(255, 255, 255, .8);*/
}
/*------------------------------------------- Header */
#header {
	background-color: #fff;
	padding: 1% 0 .5% 0;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 100;
	position:fixed;
}
#bars {width:100%; margin-bottom: 1%;z-index:2000; position:fixed;}
#bar1 { width: 8%; border-bottom: 8px solid #dc5cdc; float:left; display:inline;}
#bar2 { width: 21%; border-bottom: 8px solid #711471; float:left; display:inline;}
#bar3 { width: 9%; border-bottom: 8px solid #b040b0; float:left; display:inline;}
#bar4 { width: 18%; border-bottom: 8px solid #f6baf6; float:left; display:inline;}
#bar5 { width: 30%; border-bottom: 8px solid #dc5cdc; float:left; display:inline;}
#bar6 { width: 14%; border-bottom: 8px solid #711471; float:left; display:inline;}


.navbar-default {
  background-color: #fff;
  border: 0;
  padding-bottom: 1%;
  padding-top:1%;
}
.navbar-right {
  margin-right: 2%;
}
.navbar-brand {
  height: auto;
  padding: 0;
}
.navbar-header {
	padding: 0% 2%;
}
.navbar-default .navbar-nav>li>a {
	font-size: 1.1em;
	text-transform:uppercase;
	color:#711471;
	font-style:normal;
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
}
.navbar-nav {
	margin-top: .8%;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border:none;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li {
	list-style-type: none;
}


.dropdown-menu>li>a {
	font-family: 'Montserrat', sans-serif;
	font-style:normal;
/* margin-bottom: 3%;*/
	padding-top: 2.7%;
	padding-bottom: 2.7%;
}
.navbar-nav>li>.dropdown-menu {
	background: #E8DDE8;
	padding: 10%;
}

.dropdown.open {
	background: #E8DDE8;
}

.caret {
	margin-left:8px;
}
.searcharea {
	padding-top: 1.6%;
}
.seisearch {
}
.contactnav a {
	padding-top:0;
}



/*------------------------------------------- Video Area */
#video_area {
	padding: 38% 0 0% 0;
	text-align:left;
}
/*@media screen and (max-width: 1700px) { #video_area {background: #fff url(../images/videoBG_1700.jpg) no-repeat top center fixed;}}*/
@media screen and (max-width: 1050px) { #video_area {background: #fff url(../images/videoBG_1050.jpg) no-repeat top center fixed;}}
@media screen and (max-width: 750px) { #video_area {background: #fff url(../images/videoBG_750.jpg) no-repeat top center fixed;}}

.phe {
	font-size:2.3em;
	color:#711471;
}
#tagline {
	padding: 4% 8% 0 8%;
	background: #F79828 url(../images/tri_bg.png);
}
.tagline_contain {
	margin: auto;
	padding: 4% 0%;
	width:80%;
	/*border: 1px dotted #ffdaaf;*/
}
.tagline_contain h1 {
	font-size: 2.4em;
	color:#ffdaaf;
	text-align:center;
	max-width: 850px;
	font-family:"Lora";
	font-weight:400;
	text-transform:none;
	margin:auto;
}
.bigtag {
	font-size:1.3em;
	line-height:1.6em;
	color:#fff;
}
/*------------------------------------------- Who We Are */
#who_we_are {
	background:#711471/*#fff*/;
	text-align:center;
	padding: 8%;
}
#who_we_are p {
	text-align:center;
	padding: 6% 14% 9% 14%;
	color: #fff;
}
.threeicon_contain {
	width: 100%;
	max-width: 1200px;
	margin:auto;
	padding: 2% 0;
}
.icon_contain {
	width:27%;
	padding: 0 3%;
	float:left;
	display:inline;
}
.mi_contain {
	position:relative;
	border:1px dotted rgba(225, 225, 225, .8);
	padding: 8% 4%;
	min-height:350px;
}
.mi_contain a {
	color: #aad03b;
    font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style:normal;
	text-transform:uppercase;
	margin:0;
	padding:0;
	font-size: 1em;
	padding-top: 4%;
}
@media screen 
and (min-width:768px) 
and (max-width:933px) {
.mi_contain {
	min-height:390px;
}
}
.main_icon {
	background:transparent;
}

.main_icon img {
	max-width: 100px;
	margin-bottom: 5%;
}
.ic2_left {
	float:left;
	width: 27%;
	margin-left: 16%;
}
.ic2_right {
	float:right;
	width: 27%;
	margin-right: 16%;
}
.icfirst {
}
.iclast {
}
.main_icon h3 {
	font-size: 1.6em;
	color: #a9cf39;
	padding: 5% 0%;
 	border-bottom: 1px dotted #8e8e8d;
 	/*border-top: 1px dotted #8e8e8d;*/
	width: 80%;
	margin:auto;
	font-family: 'Montserrat', sans-serif;
}
#who_we_are h2 {
	color:#F79828;
	font-size: 2.3em;
	padding: 0% 0 4% 0;
}
.arrow_btn {
	bottom:0;
	position:absolute;
	width:93%;
	margin:auto;
}
.arrimg {
	width:40px;
}
/*------------------------------------------- Our Expertise */
#our_expertise {
	background: #a0769c url(../images/whiteDesk_2700.jpg) no-repeat;
	padding: 8% 0%;
	border-top: 1px solid #711471;
	border-bottom: 1px solid #711471;
	position:relative;
}
.expertise {
	list-style-type:none;
	color:#fff;
}
#exholder {
	width:100%;
	padding: 2% 0% 0% 0%;
	margin:auto;
	background;
	background: rgba(255, 255, 255, .8) url(../images/dots_dark.png);
}
#exh2holder {
	width:45%;
	float:left;
	display:inline;
}
#exulholder {
	width: 50%;
	float: right;
	display:inline;
}
#exulholder ul {
	padding-left: 0;
}
#exh2holder h2 {
	text-align:right;
	font-size: 4em;
	color: #F79828;
	padding-top:0;
}
.expertise li {
	font-size:1.4em;
	font-weight:bold;
	padding: 0% 0 3% 0;
	text-align:left;
	color:#711471;
	list-style-type:none;
	text-indent: -7px;
}
.expertise a {
	/*font-weight:bold;*/
	font-style:normal;
	color:#711471;
}
.numimg {
	margin-bottom:5px;
	margin-right: 1%;
}
.exdots {
	padding: 3% 0;
	border-left: 1px dotted rgba(113, 20, 113, .8);
	width: 1px;
	margin:auto;
}
@media screen 
and (min-width:1025px) 
and (max-width:1349px) {
#exulholder {
	width: 50%;
}
.numimg {
	margin-left: -22px;
}
}
/*------------------------------------------- Our Work */
#our_work {
	background:#711471/*#fff*/;
	text-align: center;
	padding: 8%;
}
#our_work p {
	text-align:center;
	padding: 2% 14%;
	padding: 2% 14% 22% 14%;
	color: #fff;
}
#our_work h3 {
}
#our_work h2 {
	color:#F79828;
	font-size: 2.3em;
	padding: 0% 0 4% 0;
}
#our_work a {
}
/*------------------------------------- Landing Pages */
.example_lander {
	background: #fff url(../images/flags_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .example_lander {background: #fff url(../images/flags_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .example_lander {background: #fff url(../images/flags_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .example_lander {background: #fff url(../images/flags_600.jpg) no-repeat;}}
.example_lander p {
	width: 50%;
	margin:auto;
	text-align:center;
	color:#711471;
	font-size: 2.5em;
    line-height: 1.4em;
	font-family: "Lora";
	font-weight:400;
}

/*----------------------------ExpertiseStatisticalVisualization.aspx */
.expertise_stats_lander {
	background: #fff url(../images/charts_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .expertise_stats_lander {background: #fff url(../images/charts_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .expertise_stats_lander {background: #fff url(../images/charts_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .expertise_stats_lander {background: #fff url(../images/charts_600.jpg) no-repeat;}}


/*----------------------------ExpertisePolicyProgImplementation.aspx */
.expertise_policy_lander {
	background: #fff url(../images/policy_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .expertise_policy_lander {background: #fff url(../images/policy_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .expertise_policy_lander {background: #fff url(../images/policy_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .expertise_policy_lander {background: #fff url(../images/policy_600.jpg) no-repeat;}}


/*----------------------------ExpertiseManagConsultingLogis.aspx */
.expertise_manag_lander {
	background: #fff url(../images/manag_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .expertise_manag_lander {background: #fff url(../images/manag_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .expertise_manag_lander {background: #fff url(../images/manag_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .expertise_manag_lander {background: #fff url(../images/manag_600.jpg) no-repeat;}}
.example_lander p, .expertise_stats_lander p, .expertise_policy_lander p, .expertise_manag_lander p {
	width: 50%;
	margin:auto;
	text-align:center;
	color:#711471;
	font-size: 2.5em;
    line-height: 1.4em;
	font-family: "Lora";
	font-weight:400;
}

/*----------------------------ExpertiseELearning.aspx */
.expertise_elearning_lander {
	background: #fff url(../images/elearning_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .expertise_elearning_lander {background: #fff url(../images/elearning_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .expertise_elearning_lander {background: #fff url(../images/elearning_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .expertise_elearning_lander {background: #fff url(../images/elearning_600.jpg) no-repeat;}}


/*----------------------------ExpertiseItIntegration.aspx */
.expertise_integration_lander {
	background: #fff url(../images/integration_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .expertise_integration_lander {background: #fff url(../images/integration_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .expertise_integration_lander {background: #fff url(../images/integration_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .expertise_integration_lander {background: #fff url(../images/integration_600.jpg) no-repeat;}}

.example_lander p, .expertise_stats_lander p, .expertise_policy_lander p, .expertise_manag_lander p, .expertise_elearning_lander p, .expertise_integration_lander p {
	width: 50%;
	margin:auto;
	text-align:center;
	color:#711471;
	font-size: 1.6em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

/*----------------------------AwardsRecognition.aspx */
.awards_lander {
	background: #fff url(../images/awards_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .awards_lander {background: #fff url(../images/awards_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .awards_lander {background: #fff url(../images/awards_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .awards_lander {background: #fff url(../images/awards_600.jpg) no-repeat;}}

.example_lander p, .expertise_stats_lander p, .expertise_policy_lander p, .expertise_manag_lander p, .expertise_elearning_lander p, .expertise_integration_lander p, .awards_lander p {
	width: 50%;
	margin:auto;
	text-align:center;
	color:#711471;
	font-size: 2.5em;
    line-height: 1.4em;
	font-family: "Lora";
	font-weight:400;
}
.awardsrow p {
	margin-top: 0;
}
.awardsrow {
	padding-bottom: 5%;
}
.award_contain {
	width: 100%;
	padding-bottom: 3%;
	border-bottom: 1px dotted #474646;
	margin-bottom: 12%;
}
.trophy {
	width:20%;
	float: left;
	display:inline;
}
.trophytext h3, .trophytext_left h3 {
	padding-top:0;
}
.trophytext {
	display:inline;
	padding-top: 2%;
}
.trophytext_left {
	width: 85%;
	padding-top: 0%;
}
.trophytext_left h3 {
	text-align:center;
}
.trophytext_left li {
	padding-bottom: 3%;
}
.award_contain img {
}
.awardsLogo {
	max-width: 175px;
	margin-bottom: 5%;
}
.award_contain h4 {
	padding-bottom: 0;
	margin-bottom: 0;
	font-size: 1.1em;
}
.trophyimg {
	max-width: 180px;
	padding-bottom: 10%;
	margin:auto;
}
/*----------------------------ClientsPartners.aspx */
.clients_lander {
	background: #fff url(../images/clients_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .clients_lander {background: #fff url(../images/clients_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .clients_lander {background: #fff url(../images/clients_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .clients_lander {background: #fff url(../images/clients_600.jpg) no-repeat;}}



/*----------------------------TheCompany.aspx */
.company_lander {
	background: #fff url(../images/company_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .company_lander {background: #fff url(../images/company_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .company_lander {background: #fff url(../images/company_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .company_lander {background: #fff url(../images/company_600.jpg) no-repeat;}}

/*----------------------------CareersWithUs.aspx */
.careers_lander {
	background: #fff url(../images/careers_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .careers_lander {background: #fff url(../images/careers_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .careers_lander {background: #fff url(../images/careers_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .careers_lander {background: #fff url(../images/careers_600.jpg) no-repeat;}}

/*----------------------------PartnerWithUs.aspx */
.partner_lander {
	background: #fff url(../images/partner_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
	
.label-align {
    width: 150px;
    float: left;
}
	
@media screen and (max-width: 1700px) { .partner_lander {background: #fff url(../images/partner_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .partner_lander {background: #fff url(../images/partner_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .partner_lander {background: #fff url(../images/partner_600.jpg) no-repeat;}}




/*----------------------------ConsultWithUs.aspx */
.consult_lander {
	background: #fff url(../images/consult_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .consult_lander {background: #fff url(../images/consult_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .consult_lander {background: #fff url(../images/consult_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .consult_lander {background: #fff url(../images/consult_600.jpg) no-repeat;}}

/*----------------------------ContractVehicles.aspx */
.contract_lander {
	background: #fff url(../images/contract_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .contract_lander {background: #fff url(../images/contract_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .contract_lander {background: #fff url(../images/contract_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .contract_lander {background: #fff url(../images/contract_600.jpg) no-repeat;}}

.example_lander p, .expertise_stats_lander p, .expertise_policy_lander p, .expertise_manag_lander p, .expertise_elearning_lander p, .expertise_integration_lander p, .awards_lander p, .clients_lander p, .contract_lander p, .company_lander p, .careers_lander p, .consult_lander p, .partner_lander p, .clients_lander p  {
	width: 50%;
	margin:auto;
	text-align:center;
	color:#711471;
	font-size: 2.5em;
    line-height: 1.4em;
	font-family: "Lora";
	font-weight:400;
}
.cvc_intro {
	margin-top: 5%;
	background-color:#474646;
	padding: 2% 0;
}
.cvc_intro h3 {
	/*color:#BABABA;*/
	text-align:center;
	padding-top:0;
}
.cvc_row {
	margin-top: 5%;
}
.cvc_set ul {
	padding-left: 0;
}
.cvc_set li {
	list-style:none;
	/*color:#949494;*/
}
.cvc a {
	font-style:normal;
	font-family: 'Montserrat', sans-serif;
	font-size:1.2em;
}
.cvc_set h3 {
	color:#F79828;
	font-family: "Lora";
	text-transform:none;
	font-weight: 400;
	border-bottom: 1px dotted #474646;
	padding-bottom: 2%;
}
.cl {
	margin-left: 4%;
}
.cvc_set {
    margin-bottom: 5%;
	border-bottom:1px dotted #474646;
	width:95%;
}
.cvc_box {
	width: 20%;
	float:left;
	display:inline;
}
.cvc_small {
	min-height:200px;
}
.cvc_big {
	min-height:390px;
}
.cvc_row {
	margin-bottom: 3%;
}
.cvcLogo {
	max-width: 175px;
	margin-bottom: 5%;
}
.cvcLogoPad {
	max-width: 175px;
	margin-bottom: 5%;
	padding-top:5%;
}
.outbound_btn {
	background-color:#a9cf39;	
	-moz-border-radius: 10;
	border-radius: 0;
	border: 0;
    padding: 1% 2%;
    text-transform: uppercase;
	margin: auto;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
	color:#FFFFFF;
	min-width: 100px;
	font-style:normal;
	position: absolute;
 	bottom: 1.4em;
	margin-left:0%;
}
.outbound_btn:hover {
	color:#fff;
}

.sublist {
	margin-left: 0%;
	margin-top: 0;
	margin-bottom: 5%;
	padding-left: 0;
}

.example_lander p, .expertise_stats_lander p, .expertise_policy_lander p, .expertise_manag_lander p, .expertise_elearning_lander p, .expertise_integration_lander p, #flag_area p {
	width: 50%;
	margin:auto;
	text-align:center;
	color:#711471;
	font-size: 2.5em;
    line-height: 1.4em;
	font-family: "Lora";
	font-weight:400;
	font-weight:400;
}

/*----------------------- Who We Are */
.whoweare_lander {background: #fff url(../images/videoBG_2500.jpg) no-repeat top center fixed;}
@media screen and (max-width: 1700px) { .whoweare_lander {background: #fff url(../images/videoBG_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .whoweare_lander {background: #fff url(../images/videoBG_1300.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .whoweare_lander {background: #fff url(../images/videoBG_mobile.jpg) no-repeat;}}
/*----------------------- Our Expertise */
.ourexpertise_lander {background: #fff url(../images/ourexpertise_2700.jpg) no-repeat top center fixed;}
@media screen and (max-width: 1700px) { .ourexpertise_lander {background: #fff url(../images/ourexpertise_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .ourexpertise_lander {background: #fff url(../images/ourexpertise_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .ourexpertise_lander {background: #fff url(../images/ourexpertise_600.jpg) no-repeat;}}
/*----------------------- Our Work */
.ourwork_lander {background: #fff url(../images/ourwork_2700.jpg) no-repeat top center fixed;}
@media screen and (max-width: 1700px) { .ourwork_lander {background: #fff url(../images/ourwork_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .ourwork_lander {background: #fff url(../images/ourwork_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .ourwork_lander {background: #fff url(../images/ourwork_600.jpg) no-repeat;}}
/*----------------------- Let's Talk */
.letstalk_lander {background: #fff url(../images/letstalk_2700.jpg) no-repeat top center fixed;}
@media screen and (max-width: 1700px) { .letstalk_lander {background: #fff url(../images/letstalk_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .letstalk_lander {background: #fff url(../images/letstalk_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .letstalk_lander {background: #fff url(../images/letstalk_600.jpg) no-repeat;}}
/*------------------------------------------- Flag Area */
#flag_area {
	background: #fff url(../images/flags_2700.jpg) no-repeat;
	padding: 8% 0;
}
@media screen and (max-width: 1700px) { #flag_area {background: #fff url(../images/flags_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { #flag_area {background: #fff url(../images/flags_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { #flag_area {background: #fff url(../images/flags_600.jpg) no-repeat;}}





/*------------------------------------------- Let's Talk */
#lets_talk {
	background: #474646;
	text-align:center;
	text-transform:uppercase;
	font-size: 2.5em;
	padding: 2% 0;
}
#lets_talk h4 {
}
#lets_talk a {
	text-decoration:none;
	color: #aad03b;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style:normal;
	font-size:1.4em;
	cursor:pointer;
}
.wus {
	color:#b161a6;
}
#lets_talk a:hover .wus { color: #aad03b; }
.google-maps {
        position: relative;
        padding-bottom: 20%; /* This is the aspect ratio */
        height: 0;
        overflow: hidden;
		width: 70%;
		margin:auto;
		margin-bottom: 5%;
		margin-top: 5%;
    }
.google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}
.gettinghere h3 {
	padding-top:0;
}
.cu_lc {
}
/*------------------------------------------- Interior Content */
#interior_landing {
	padding: 17% 0 4% 0%;
}
#interior_landing_text {
}
#interior_landing_text h1 {
	text-align:left;
	color:#8fb424;
	font-size: 2em;
}
.land_purpleh1 {
	text-transform:uppercase;
	font-size:2.3em;
	color:#59386a;
}
.landing_icons {
}
.landing_icons .row {
	margin-bottom: 5%;
}
.landing_card {
	text-align:center;
	padding: 12% 5%;
	width: 100%; /* check */
	margin:auto;
	margin-bottom: 5%;
	min-height: 300px;
}
.landing_card h4 {
	padding: 3% 0%;
	border-top: 1px dotted #8e8e8d;
	width: 80%;
	margin: auto;
	font-size: 1.1em;
}
.landing_card a {
	font-size: 1.1em;
	color: #767676;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style:normal;
}
.landicon {
	max-width: 100px;
	margin-bottom: 5%;
}
.landicon img {
}

.basic_content h1 {
	font-size:3.5em;
}
.cu_lc {
	min-height:1px;
}

/* #interior_landing_text h1 {
	text-shadow: 0px 0px 2px #fff;
} */

/*----------- 5 column icons -----*/



.col-lg-15 .landing_card h4, .col-md-15 .landing_card h4, .col-sm-15 .landing_card h4, .col-xs-15 .landing_card h4 {
	width:100%;
	margin:auto;
	text-align:center;
	padding:5%;
	margin-bottom:0; 
	font-size: 1.1em;
}


.col-xs-15{
    width:20%;
}

@media screen and (max-width: 982px)  {
	
	.col-xs-15{
    width:100%;
/*	margin-bottom: -10%;
    padding: 0 5%; */
}

.landing_card {
  min-height: 200px;
}
}

/* ------------------Buttons -----*/


.cs_btn, .gfs_btn, .vcs_btn, .bcs_btn, .rm_btn {
	background-color:#D876D8;	
	-moz-border-radius: 10;
	border-radius: 0;
	border: 0;
    padding: 11px 22px;
    text-transform: uppercase;
	margin: auto;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
	color:#FFFFFF;
	min-width: 200px;
}
.vcs_btn {
	background-color:#B260B2;
	margin-top:30px;
}
.gfs_btn {
	background-color:#8fb424;
	margin: 30px 0 0 8px;	
}
.cs_btn {
	background-color:#B260B2;
}
.bcs_btn {
	background-color:#B260B2;
}
.rm_btn {
	padding: 5px 10px;
	background-color:#474646;
}
.rm_btn:hover {
}
.cs_btn:hover, .gfs_btn:hover {
  background-color: #711471;
  color:#fff;
}
.vcs_btn:hover {
	background-color:#711471;
	color:#fff;
	background-color: #711471;
}
.bcs_btn:hover {
	color:#fff;
}
.vcs_btn:focus, .vcs_btn:active:focus, .vcs_btn.active:focus {
    outline: 0 none;
	color:#fff;
}
.gfs_btn:focus, .gfs_btn:active:focus, .gfs_btn.active:focus {
    outline: 0 none;
	color:#fff;
}
.cs_btn:focus, .cs_btn:active:focus, .cs_btn.active:focus {
    outline: 0 none;
	color:#fff;
}
.bcs_btn:focus, .bcs_btn:active:focus, .bcs_btn.active:focus {
    outline: 0 none;
	color:#fff;
}
.case_back {
	text-align:center;
	padding: 3% 0;
}
.btn_careers {
	border-radius: 0;
	border: 0;
    padding: 11px 22px;
    text-transform: uppercase;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
	color:#272727;
	font-style:normal;
	margin-bottom: 5%;
}

/* --------------- Twitter ------*/

blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #000 !important;
  font-size: 12px;
}

a.twitter-timeline {
	color:black !important;
}

blockquote.twitter-tweet p {
	color:black;
}

.tweet .e-entry-title[dir="ltr"] {
  text-align: left;
  direction: ltr;
  color: #000;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}
 
blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}
 
blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}
 
blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}
	

/*------------------------------------------- News & Highlights */
#news_highlights {
	background: #fff url(../images/dots_dark.png);
	padding-bottom: 3%;
	border-top: 10px solid #838383;
}
#news_highlights h5 {
	color:#F79828;
	font-size: 1.8em;
	font-family: "Lora";
    font-weight: 400;
	padding-top: 8px;
}
#news_highlights h6 {
	font-size: 1.3em;
	margin:0;
}
.twitterh5 {
}
.nh_contain {
	width: 90%;
	margin:auto;
	margin-bottom: 3%;
	padding: 2% 4% 2% 0;
	border-bottom: 1px dotted #474646;
	margin-left: 0;
}
.nh_date {
	width: 75px;
	height: 75px;
	float:left;
	display:inline;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background-color: #a9cf39;
	text-align:center;
	 padding: 23px 0;
}
.nh_day, .nh_month {
	font-family: 'Montserrat', sans-serif;
	font-style:normal;
	margin:0;
	padding:0;
	color:#fff;
}
.nh_day p, .nh_month p {
	margin:0;
	padding:0;
	line-height:.5em;
}
.nh_day {
	font-size: 2.5em;
	line-height:.9em;
	margin-top: -10px;
}
.nh_month {
	font-size: 1em;
	text-transform:uppercase;
}
.nh_text {
	float:right;
	width: 82%;
	display:inline;
	padding-bottom: 4%;
	padding-top: 2%;
}
.nh_text h6 {
	font-size: 1.4em;
	margin: 1.8% 0 0 0;
	padding: 0;
	font-style:normal;
}
.nh_text p {
	font-size: .9em;
	line-height: 1.2em;
}
.nh_text a {
	text-decoration:none;
	color: #B161A6;
	font-family: 'Montserrat', sans-serif;
	font-size:.8em;
	text-align:right;
	font-style:normal;
}

.nh_text a:hover {
	color: #dc5cdc;
}
#twittercontainer {
	width: 90%;
	
}
.highlights_landing {
}
.highlights_landing li {
	padding-bottom: 5%;
}
.customisable-border.thm-dark {
	border: none!important;
}



/*------------------------------------- Case Detail */

#caseheader {
    width: 90%;
    margin: auto;
    height: 100%;
    padding-top: 54px;
}
.case_detail_landing {
	background:#711471;
	padding: 100px 0 0 0;
}
.case_intro {
	padding: 150px 0 0 0;
}
.case_detail_landing h1 {
	font-size: 1.3em;
	margin: 2% 0 1% 0;
	padding: 0 0 1% 0;
	color:#dc5cdc;
	text-transform:uppercase;
	border-bottom: 1px dotted #dc5cdc;
}
.case_detail_landing h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.3em;
	color:#fff;
	margin-bottom: 3%;
}
.case_slider li {
	list-style-type: none;
	margin:0;
	padding:0;
}
.case_slider {
	padding: 0% 0;
	margin-top: 0%
}
.ataglance {
	padding: 10%;
	background-color:#f5f5f5;
	width: 70%;
	float:right;
}
.ataglance h3 {
	padding-bottom: 5%;
	color: #474646;
}
.case_detail {
	padding: 0 0 5% 0;
}
.case_detail li {
	text-indent: 0;
}
.pag_title {
	font-family: 'Montserrat', sans-serif;
	color:#474646;
	font-size: 1.1em;
}
.pag_ul li {
	margin-left:0;
	padding-left:0;
	list-style-type:none;
	padding-bottom: 5%;
}
.cd_intro {
	padding: 5% 5% 0 5%;
}
.cardgrid {
	padding-top: 2.5%;
	width: 90%;
	margin:auto;
}
.cd_card {
	text-align:center;
	padding: 5%;
	background-color:#f5f5f5;
	height: 100%;
	min-height: 250px;
}
.cd_card h4 {
	background:#4A4A4A;
	color:#dc5cdc;
	margin:0;
	padding: 5% 0;
	width: 100%;
	text-transform:uppercase;
}
.cd_card li {
	list-style-type:none;
	margin-bottom: 12%;
}
.cd_card a {
	color:#4A4A4A;
	text-decoration:underline;
}
.cdlast {
	padding-bottom: 5%;
}
.case_intro .basic_content {
	padding-bottom: 2%;
}
.csrow {
	margin-bottom: 5%;
}
.casestudy_card {
	background-color:#F7F7F7;
	padding: 5% 10%;
	margin-top: 5%;
	min-height: 250px;
	height: 320px;
}
.casestudy_card ul {
	margin-left: 0%;
	list-style: square;
}
.casestudy_card li {
	color:#949494;
}
.casestudy_card h4 {
	font-size:1.2em;
	color: #787878;
}
.casestudy_card a {
	font-style:normal;
	color:#474646;
}
.casestudy_card .cs_btn {
	position: absolute;
	bottom: 1.4em;
	left: 50%;
	margin-left: -96px;
	color:#FFFFFF;
}
h2.cs_sorted {
	text-align:center;
	color:#CDCDCD;
	padding: 1.5% 0;
}
.cs_logo_contain {
	width: 100%;
	margin:auto;
	text-align:center;
}
.cs_logo {
}

/* Case Detail Slides */

.callbacks p.caption{
	font-size:1.5em;
	color:#F79828;
	padding-top:3.1%;
	font-family: 'Lora', serif;
}

.rslides img {
    padding-top: 210px;
    background-color: #474546;
}

@media screen and (max-width: 600px) { 
	
	.rslides img {
    padding-top: 250px;
}
}

@media screen and (max-width: 480px) { 
.rslides img {
    padding-top: 290px;
}
.callbacks p.caption{
		font-size: 1.2em;
	}
}

/*------------------------------------------- Sorting Styles */
.sort_row {
	background:#787878;
}
.sort_contain {
	padding: 5% 0 10% 0;
/*	text-align:center; */
}
.sort_contain h2 {
	color: #E8E8E8;
}
.sort h3 {
	color: #474646;
	font-size: 1em;
	padding-bottom: 2%;
}
.sort_box.col-md-5 {
	padding-left: 0;
}





/*------------------------------------------- Subject Matter Experts */
.smrow {
	margin-bottom: 5%;
}
.subject_card {
	background-color:#F7F7F7;
	padding: 5% 10%;
	margin-top: 5%;
}

.subject_card p {
	margin-bottom:40px;
}

.subject_card ul {
	margin-left: 0%;
}
.subject_card li {
}
.subject_card h4 {
	font-size:1.4em;
	width:100%;
	background-color:#B260B2;
	padding: 3% 5%;
	color:#fff;
}
.subject_card a {
	font-style:normal;
	color:#474646;
}


@media screen and (max-width: 1200px) {
.subject_card{
   height: auto !important;
}

.subject_card p {
	margin-bottom:5px;
}

}
	

/*------------------------------------------- Leadership */
.leadercontent {
	margin-top: 5%;
}
.leadercontent p {
	margin-bottom: 0;
}
.leaderline {
	width:700px;
	margin:auto;
	border-top: 1px dotted #474646;
	padding-top: 2%;
	padding-bottom: 2%;
}
.prachee {
	border-top: 1px dotted #474646;
	padding-top: 5%;
}
.prachee_img {
	float:left;
	width: 25%;
	display:inline;
	margin-left:-15%;
}
.pracheepic {
	max-width: 450px;
}
.leaderpic {
	max-width: 300px;
}
.prachee_text {
	float:right;
	display:inline;
	width:70%;
}
.prachee h3 {
	padding-top: 2%;
}
.leaderrow {
	margin-bottom: 0%;
}
.leaders {
	padding: 0 5% 3% 0%;
}
.leaders h3 {
	font-size: 1.6em;
	color:#711471;
}
.prachee h3 {
	font-size: 1.8em;
}
.leaders h4 {
	color: #474646;
	font-style:italic;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:1.2em;
}

/*------------------------------------------- Footer */
#footer {
	background: #711471;
	padding: 3% 0;
}
#footer p {
	margin: 0;
	padding: 0;
	text-align:center;
	font-size: .8em;
	color:#b161a6;
}
/*------------------------------------------- Contact */
.addressinfo h2 {
	font-size: 2.2em;
}


/*------------------------------------------- Tablet */
@media screen and (max-width: 1024px) {
#header {
	padding-bottom: 5%;
}
#nav_contain {
	float:none;
	margin:auto
}
#sei_logo {
	float:none;
	display:block;
	max-width: none;
	margin-left: 0%;
	width: 90%;
	margin:auto;
	text-align:center;
}
#nav {
  width: 480px;
  float: none;
  margin-top: 8%;
  margin-bottom: 5%;
  margin:auto;
  padding-top: 3%
}
#search_contain {
	width: 200px;
	margin:auto;
	float:none;
	padding-top: 3%;
}
#searchbox {
	float:left;
	display:inline;
	width: 148px;
	border: 1px solid #CCCCCC;
	height: 30px;
}
#gobox {
	float: right;
	display:inline;
	width: 50px;
	background-color:#aad03b;
	height: 32px;
	margin-top:10px;
}
#gobox p {
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	padding: 8px;
	margin: 0;
}
.sort_contain {
	padding: 4% 0;
}
#news_highlights h5 {
	margin-top:0;
}
#exholder {
	width:80%;
	margin:auto;
	padding: 0 5%;
}
#exh2holder {
	width:100%;
	margin-right:0%;
	float:none;
	display:block;
}
#exulholder {
	width: 100%;
	float: none;
	display:block;
}
#exh2holder h2 {
	text-align:left;
	font-size: 3em;
	padding: 6% 0;
}
#interior_landing {
  padding: 20% 0 8% 0;
}
#interior_landing_text { 
	padding-left: 5%;
}
.nh_text {
	width: 70%;
}
#news_highlights {
	padding: 5% 5%;
}
.landing_padding_double {
    padding-top: 120px;
}
.landing_padding_double h1 {
	padding: 3% 6%;
}
.landing_padding_double p {
	padding: 3% 6%;
}
.prachee_img {
	float:none;
	width: 100%;
	display:block;
	margin-left:0%;
	text-align:center;
}
.pracheepic {
	max-width: 350px;
}
.prachee_text {
	float:none;
	display:block;
	width:100%;
}
.leaderrow {
	margin-bottom: 0%;
}
.leaderline {
	padding-bottom: 5%;
}
.leaderrow .col-md-3 {
	text-align:center;
}
.prachee h2, .prachee h3, .leaders h2, .leaders h3, .leaders h4 {
	text-align:center;
}
}

/*------------------------------------------- Headline Wraps */
@media screen 
and (max-width : 992px) {
.landing_padding_double h1 {
   padding: 4% 3% 3% 3%;
}
.col-md-6 ul.cvc {
   margin-left: -2%;  
} 

ul.sublist {
	margin-left: -2%;
}

h2,h3,h4,h5,h6{
	padding-left:3%;
} 

p {
	padding-left:6%;
}

#MainContent_btnViewCaseStudy{
	margin-left:3%;
}

.casestudy_card h4 {
	padding-left:0;
	margin-left:0;
}

.casestudy_card ul {
	padding-left:0;
	margin-left:5%;
}

.sort_box{
	padding-left: 6%;
}
.sort h3 {
    padding-left: 6%;
}


.casestudy_card {
    height: auto;
}
}

/*------------------------------------------- Tablet Portrait */
@media screen 
and (max-width : 768px) {
.slide_desktop { display:none; }
.slide_mobile { display:block; }
.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 1em;
  text-shadow: none;
  color: #f5f5f5;
  padding: 0;
  margin: 20% 20% 0 20%;
  max-width: 80%;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
	padding-left:10%;
}

ul.cvc{
	padding-left:5%;
}

#interior_landing_text h1 {
	text-align:center;
	width: 60%;
	margin:auto;
	color:#8fb424;
	font-size: 1.5em;
	line-height:1.4em;
}
	
.ataglance {
	padding: 5%;
	width: 90%;
	float:none;
}
.cardgrid {
  padding-bottom: 0%;
  padding-top: 0%;
}
.cd_card {
  text-align: center;
  padding: 5%;
  background-color: #f5f5f5;
  height: 100%;
  min-height: 250px;
  margin: 5% 0;
}
.land_purpleh1 {
	text-transform:uppercase;
	font-size:1.6em;
	color:#59386a;
}
.nh_pic {
	width: 50%;
	margin:auto;
	float:none;
	display:block;
	text-align:center;
}
.nh_text {
    /* width: 80%; */
    margin: auto;
    /* float: none; */
    display: block;
    padding-bottom: 10%;
}
#news_highlights h5 {
	text-align:center;
	padding-top: 38px !important;
}
.nh_text h6 {
	text-align:left;
}
.twitterh5 {
	background:url(../images/twitter.png) top center no-repeat;
	padding-left: 0px;
	padding-top: 30px!important;
}
.main_icon {
}
.mi_contain {
    padding-bottom: 20%;
    margin-bottom: 10%;
}

.arrow_btn {
    bottom: 17px;
}

.main_icon img {
	margin-bottom: 0;
}
.basic_content {
	padding:8% 8%;
}
.bigh1 {
	font-size:2em;
}
#footer {
	padding: 12% 10%;
}

.basic_content h1 {
	font-size:2em;
	padding-top:7%;
}

.grid_5 {

  text-align: center ;
}


h5.twitterh5{
	padding-top:2px;
}

#twittercontainer {
    margin: 5% auto 10% auto;
    text-align: center;
	width: 100%;
}

.dropdown-menu>li {
    padding: .25em;
	white-space: normal;
}

.navbar-nav>li>.dropdown-menu {
    padding: 4% 0 4% 4%;

}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    white-space: normal;
	color: #555;
}

ul.nav li.dropdown.open{
	background-color: #E8DDE8;
}




#caseheader {
    padding: 10px 0 15px 0;
}

#MainContent_txtMessage{
	width:100% !important;
}

.careers_lander p, .awards_lander p, .expertise_manag_lander p, .expertise_elearning_lander p, .expertise_integration_lander p, .expertise_stats_lander p, .expertise_policy_lander p, .company_lander p, .contract_lander p, .partner_lander p, .clients_lander p {
    width: 75%;
    font-size: 1.4em;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 430px;
}

.landing_padding_double {
    padding-top: 90px;
}
.landing_padding_double h1 {
    padding: 12% 3% 3% 3%;
}

#our_work p {
	padding-bottom:5%;
}
}

/* ----------------------------headlines wrap subpages */

@media screen and (max-width: 600px) { 
h1 {
	font-size:2em;
}

h1.bigh1 {
	line-height: 1.1em;
}

#video_area {
    padding: 50% 0px 0%;
}
}


/*------------------------------------------- Mobile */
@media screen and (max-width: 480px) {
#header {
	background-color: rgba(255, 255, 255, 1);
	padding: 3% 0 3% 0;
	position:inherit;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 100;
}
.js #menu {
		display:none!important;
}
#nav_contain {
	width:100%;
	float:none;
	margin-right: 0%;
	display:block;
}
#nav {
	padding: 0;
}
#nav ul {
	text-align:center;
	padding:0;
	margin:0;
}
#nav li {
	display:block;
	list-style-type:none;
}
#nav a {
	color: #aad03b;
	text-transform:uppercase;
	padding: 3% 0%;
	text-decoration:none;
	font-weight: bold;
	text-align:center;
}
#landing_text {
	padding: 40% 10% 10% 10%;
}
#landing_text h1 {
	font-size: 1.5em;
	color:#8fb424;
	line-height:1.5em;
}
.phe {
	text-transform:uppercase;
	font-size:1.7em;
/*	color:#59386a;  Why the color change? */
}
.and {
	font-size:1.5em;
}
#who_we_are h2 {
  color: #d6d6d6;
  font-size: 2.3em;
  padding: 20% 0 10% 0;
  text-transform: uppercase;
}
.nh_text {
    width: 90%;
}
#interior_landing {
  padding: 50% 0 10% 0;
}
#interior_landing_text h1 {
	text-align:center;
	width: 60%;
	margin:auto auto auto -1%;
	color:#8fb424;
	font-size: 1.5em;
	line-height:1.4em;
}
.land_purpleh1 {
	text-transform:uppercase;
	font-size:2em;
	color:#59386a;
}
#flag_area p {
  width: 80%;
  font-size: 1.4em;
}
#news_highlights {
	padding-bottom: 3%;
	padding-top: 8%;
}
.icon_contain {
	width:90%;
	padding: 20% 0%;
	float:none;
	margin:auto;
	display:block;
	height:100%;
}
#exholder {
	width:80%;
	padding: 0 5px 0 56px;
}
.expertise {
	padding-left: 10%;
}
.expertise li {
	font-size:1.3em;
	font-weight:bold;
	padding: 0% 0 10% 0;
	text-align:left;
}
.numimg {
	margin-left: -22px;
}
.icon_3 {
	width: 100%;
	float:none;
}
.icon_2 {
	width: 100%;
	margin-left: 0%;
	float:none;
}
.iconright {
	margin-left: 0%;
	margin-right: 0%;
	float:none;
}

#video_area {
    padding: 280px 0px 0 0;
}
.nh_date {
    display: block;
	float:none;
    padding: 23px 0;
    margin: auto;
}

.nh_contain {
    width: 100%;
    margin: auto auto;
    padding: 5% 0;
}



.row{
  margin-right:0;	
}

label{
	display:block;
	width:280px;
	white-space:normal;
	
}

.navbar-fixed-top .navbar-collapse {
    max-height: 530px;
}

input[type=file] {
    width: 100%;
}

}

/*  ODW  5-8-2015 */

#MainContent_btnRefresh {
    border: solid 1px #CACACA;
    padding: 5px;
    background-color: #EFEFEF;
    position: relative;
    top: 1px;
}

#MainContent_btnRefresh:hover {
    background-color: #E8E6E6;
    position: relative;
    top: 2px;
}

p.e-entry-title {
  color: #4b4b4b !important;
}

.cvc_box {
    width: 35%;
    white-space: nowrap;
}


/* ODW 8-5-2015 */


.navbar-default {
    padding-top: 0;
}

.navbar-brand {
	padding-top:5px;
}

#bars {
	padding-top:0;
}

ul.navbar-nav{
	padding-top:5px;
}

.navbar-toggle{
	margin-top:15px;
}



.callbacks .caption {
    font-size: 1.2em;
    margin: 2% 0 0 15%;
    max-width: 68%;
    text-align: center;
}

.callbacks_nav {
    opacity: 0.4;
    height: 35px;
    width: 18px;
    background-size: 36px;
}

.awardsLogo {
    margin-left: 5%;
}

.leaderline {
    max-width: 700px;
    width: 100%;
	border:none;
}

.navbar-default {
    border-bottom: solid;
    border-bottom-color: #D6B5D6;
	padding-bottom: 0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
        background-color: #F6BAF6;
}

.dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu>li>a  {
    color: #FFFFFF;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover  {
    background-color: #9B1F9A;
	color:#FFF;
}

.navbar-nav>li>.dropdown-menu {
    background: #B040B0;
}

ul.nav li.dropdown.open {
    background-color: #B040B0;
}
.dropdown.open {
    background: #B040B0;
}


/* accordion */




h3.panel-title a{
	color: #F79828;
    font-family: "Lora";
    text-transform: none;
    font-weight: 400;
	margin:0;
	padding:0;
	font-size: 1.3em;
	padding-top: 4%;
}

.panel-body p {
    font-family: "Lora",sans-serif;
    font-weight: 400;
    color: #4B4B4B;
    font-size: 1.1em;
    font-style: normal;
    line-height: 1.6em;
    padding: 5px 5px 5px 28px;
}

.panel-body ul li {
	margin-bottom:0;
	margin-left:35px;
}


.fancy-collapse-panel{
	padding:30px;
}

.fancy-collapse-panel.leadership{
	padding:0;
}

h3.panel-title a {
	font-style:normal;
	padding-top:0;
	font-size:1.2em;
	 padding-right: 20px;
}

.panel-title a.collapsed {
    background-image: url("/images/link_arrow_purple_down.png");
	display:block;
    background-repeat: no-repeat;
    background-position: right;
	width:100%;
	background-size: 20px 20px;
	padding-right: 20px;
}

.panel-title.text-left.xmore a.collapsed {
    background-image: url("/images/more-down.png");
	display:block;
    background-repeat: no-repeat;
    background-position: right;
	width:100%;
	background-size: 63px;
}

h4.text-center.xnormal a {
	font-style:normal;	
}

.panel-title.text-left a{
    background-image: url("/images/less-up.png");
	display:block;
    background-repeat: no-repeat;
    background-position: right;
	width:100%;
	background-size: 63px;
}

h4.panel-title.text-left.xmore a {
    font-style: normal;
    color: #711471;
    padding-left: 7px;
    font-weight: bold;
}


h4.text-center.xnormal a img{
	position:relative;
	top:-2px;
}

.panel-title a {
    background-image: url("/images/link_arrow_purple_up.png");
	display:block;
    background-repeat: no-repeat;
    background-position: right;
	width:100%;
	background-size: 20px 20px;
}

.panel {
	background-color:transparent;
}

.panel-group .panel {
    /* margin-bottom: 0; */
    border-radius: 0;
    border: none;
    border-bottom: solid 1px #ddd;
    /* padding-top: 0; */
    margin: 0 0 0 -21px;
    background-color: transparent;
}

.panel-default>.panel-heading {
    /* color: #FFF; */
    background-color: transparent;
}


.accordion-toggle {
      background-image: url("/images/link_arrow_purple.png");   
   background-repeat: no-repeat;
    background-position-x: right
	
	
}
.accordion-opened .accordion-toggle {    
      background-image: url("/images/link_arrow_purple_down.svg");  
	  background-repeat: no-repeat;
      background-position-x: right; 
}

/*  Forms */


/*
.contactform #MainContent_lblName, .contactform #MainContent_lblEmail, .contactform #MainContent_lblPhone, .contactform #MainContent_lblPosition, .contactform #MainContent_lblSalaryRequirement {
    font-weight: bold;
    display: inline-block;
    width: 140px;
}
*/
.basic_content text, text#MainContent_txtName {
	border:solid 1px #6A1718;
	background-color:#555;
}

.checkbox{
    color: #555;
}

.label-align {
    font-weight: bold;
}

input, textarea {
    background-color: #E1DEE1;
	padding:5px;
	border:0!important;
}
p.formnopad {
	margin-bottom:0;
	padding-top:0;
}
textbox {
	float:right;
}
#MainContent_ddlExpertise.form-control, #MainContent_ddlAgency.form-control {
    background-color: #E1DEE1;
}

.landing_padding_double .submitresume p, .landing_padding_double .contactform p{
	padding:5px !important;
	margin:3px !important;
}


/* equil height experts */

.new-width {
    width: 47%;
    float: left;
    margin: 0 18px;
}

 @media screen and (max-width: 1200px) {
	.new-width
			{
				width:95%;
				margin:5px auto;
				
			}
}


/*.side-sticky {
  min-height: 200px;
} */

/*  theia sticky sidebar */


			.stick-wrapper #main-content {
				position: relative;
				 overflow: visible;
			  box-sizing: border-box;
			  min-height: 1px;
}

			.stick-wrapper #side-sticky {

				position: relative;
				  overflow: visible;
				  box-sizing: border-box;
				  min-height: 1px;
}
		
			.stick-wrapper .theiaStickySidebar{
			padding-top: 50px !important; 
			padding-bottom: 0 !important; 
			position: static; 
			top: 60px; 
			}
			
			.stick-wrapper .landing_padding_double {
 			 padding-top: 10%;
}


/*img.cs_logo {
	transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-o-transition: all .3s ease-in; 
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; *//* IE 6-9 */
 /*  filter: grayscale(1);
}
img.cs_logo:hover {
	transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	opacity:1; 
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
}*/

.gotcolors{
	height:167px;
	width:304px;
}

a#orange-robbie{
	color:#F79828;
}

h3.panel-title a, h3.panel-title a.collapsed:hover {
    outline: 0 !important;
}

/* .navbar-brand > img {
    display: block;
    position: relative;
    z-index: 99999999999 !important;
}

ul.nav {
  border-color: #e7e7e7;
  position: relative;
  z-index: 99999999999 !important;
} */