/* Global */
body {height:100% !important;}
* {margin:0;padding:0}
.clear {clear:both;}
video { 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background:url(../images/typing_background.jpg) no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.shadow_bg {
	top:0;
	left:0;
	background: url(../images/shadow_bg.png) repeat 0 0;
	position:absolute;
	width:100%;
	height: 100%;
}
.stopfade { 
   opacity: .5;
}

.purple { color: #711471;}
.lightpurple { color:#dc5cdc;}
.darkpurple { color:#480448;}

.green { color: #aad03b;}
.lightgreen { color:#d9fc75;}
.darkgreen { color:#8fb424;}

.charcoal { color: #474646;}
.lightgrey { color: #f5f5f5;}

.white {color: #fff;}

.landing_padding {
	padding-top: 5%;
}
.landing_padding_double {
	padding-top: 12%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
h1 {
	font-size: 1.5em;
	color: #711471;
	text-transform:uppercase;
}
.bigh1 {
	font-size: 3.5em;
	margin: 0;
}
h2 {
	font-size: 1.5em;
	color: #711471;
	text-transform:uppercase;
}
h3 {
	font-size: 1.3em;
	color: #aad03b;
	text-transform:uppercase;
	margin:0;
	padding: 5% 0% 0% 0%;
}
h4 {
	color:#dc5cdc;
}
h5 {
	color: #474646;
	text-transform:none;
	margin-bottom: .6em;
	font-size: .9em;
}
h6 {
}
ul {
	list-style: disc;
    padding:0;
	padding-left:5%;
}
#nav ul {
	margin-left:0;
}
li {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color:#4b4b4b;
	font-size: 1em;
	line-height:1.6em;
	margin-bottom: 3.5%;
	padding-left: 3%;
}
a {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color:#dc5cdc;
	text-decoration:none;
	font-style:italic;
}
a:hover {
	color: #f368f3;
}
.learn_btn {
	text-align:center;
	text-transform:uppercase;
	font-style:normal;
	background:#a9cf39/*8e8e8d*/;
	border: none;
	padding: 5% 6%;
	color:#fff;
	margin: auto;
	margin-top: 8%;
	text-decoration:none;
	cursor:pointer!important;
}
.learn_btn:hover {
	background:#666;
	text-decoration:none;
}
.learn_btn_two {
	text-align:center;
	text-transform:uppercase;
	background:#fff;
	padding: 4% 5%;
	color:#666;
	margin: auto;
	margin-top: 8%;
	font-size:.9em;
	text-decoration:none;
	cursor:pointer;
	-webkit-border-radius: 14;
  	-moz-border-radius: 14;
  	border-radius: 14px;
	border: solid #9cdb69 1px;

}
.learn_btn_two:hover {
	background:#e6fbd5;
}
.basic_content {
	height:100%;
	padding-top: 8%;
	padding-bottom: 8%;
}
.basic_content li {
}
.basic_content ul {
	  padding: 0 0 0 40px;
}
.basic_content ol {
}
.slide_desktop { display:inherit; }
.slide_mobile { display:none; }

.btn-primary {background-color: #711471; border-color: #570F57;}
.btn-primary:hover {background-color: #dc5cdc; border-color: #C54FC5;}
.btn-success { background-color: #87AE13; border-color:#7FA410 ;}
.btn-success:hover { background-color:#aad03b ; border-color: #9CBF34;}


/*------------------------------------------- Header */
#header {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 0% 0 .5% 0;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 100;
	position:fixed;
}
#bars {width:100%; margin-bottom: 1%;}
#bar1 { width: 8%; border-bottom: 8px solid #dc5cdc; float:left; display:inline;}
#bar2 { width: 21%; border-bottom: 8px solid #711471; float:left; display:inline;}
#bar3 { width: 9%; border-bottom: 8px solid #b040b0; float:left; display:inline;}
#bar4 { width: 18%; border-bottom: 8px solid #f6baf6; float:left; display:inline;}
#bar5 { width: 30%; border-bottom: 8px solid #dc5cdc; float:left; display:inline;}
#bar6 { width: 14%; border-bottom: 8px solid #711471; float:left; display:inline;}

.navbar-default {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
  padding-bottom: 1%;
  z-index: 99999999!important;
}
.navbar-brand {
  height: auto;
  padding: 0;
}
.navbar-header {
	padding: 0% 2%;
}
.navbar-default .navbar-nav>li>a {
	font-size: 1.1em;
	text-transform:uppercase;
	color:#711471;
	font-style:normal;
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
}
.navbar-nav {
	margin-top: .8%;
}
.searcharea {
	padding-top: 1.6%;
}
/*------------------------------------------- Video Area */
#video_area {
	padding: 25% 0 0% 0;
	text-align:left;
	border-bottom: 1px solid #dc5cdc;
}
/*@media screen and (max-width: 1700px) { #video_area {background: #fff url(../images/videoBG_1700.jpg) no-repeat top center fixed;}}*/
@media screen and (max-width: 1050px) { #video_area {background: #fff url(../images/videoBG_1050.jpg) no-repeat top center fixed;}}
@media screen and (max-width: 750px) { #video_area {background: #fff url(../images/videoBG_750.jpg) no-repeat top center fixed;}}

#landing_text {
	padding: 0% 10% 5% 10%;
}
#landing_text h1 {
	font-size: 2em;
	color:#aad03b;
	text-align:right;
}
.phe {
	text-transform:uppercase;
	font-size:2.3em;
	color:#711471;
}
.and {
	font-size:1.8em;
}
/*------------------------------------------- Who We Are */
#who_we_are {
	background: url(../images/shadow_bg.png) repeat-x top #fff;
	text-align:center;
	padding: 8%;
}
#who_we_are p {
	text-align:center;
	padding: 2% 14%;
	font-size: .9em;
}
.threeicon_contain {
	width: 100%;
	max-width: 1200px;
	margin:auto;
	padding: 2% 0;
}
.icon_contain {
	width:27%;
	padding: 0 3%;
	float:left;
	display:inline;
}
.main_icon {
}
.main_icon img {
	max-width: 100px;
	margin-bottom: 5%;
}
.ic2_left {
	float:left;
	width: 27%;
	margin-left: 16%;
}
.ic2_right {
	float:right;
	width: 27%;
	margin-right: 16%;
}
.icfirst {
}
.iclast {
}
.main_icon h3 {
	font-size: 1.3em;
	color: #5b5b5b/*711471/*B161A6*/;
	padding: 3% 0%;
 	border-bottom: 1px dotted #8e8e8d;
 	border-top: 1px dotted #8e8e8d;
	width: 80%;
	margin:auto;
}
#who_we_are h2 {
	color:#d6d6d6;
	font-size: 2.3em;
	padding: 0% 0 4% 0;
	text-transform:uppercase;
}

/*------------------------------------------- Our Expertise */
#our_expertise {
	background: #a0769c url(../images/purpleDesk_2700.jpg) no-repeat;
	padding: 7% 0 4% 0;
	border-top: 1px solid #711471;
	border-bottom: 1px solid #711471;
	position:relative;
}
.expertise {
	list-style-type:none;
	color:#fff;
}
#exholder {
	width:80%;
	margin:auto;
}
#exh2holder {
	width:40%;
	margin-right:3%;
	float:left;
	display:inline;
}
#exulholder {
	width: 57%;
	float: right;
	display:inline;
}
#exh2holder h2 {
	text-align:right;
	font-size: 4em;
	text-transform:uppercase;
	color: #aad03b;
	padding-top:0;
}
.expertise li {
	font-size:1.4em;
	font-weight:bold;
	padding: 0% 0 3% 0;
	text-align:left;
	color:#fff;
	list-style-type:none;
	margin-bottom: 3%;
	text-indent: -7px;
}
.expertise a {
	font-weight:bold;
	font-style:normal;
	color:#fff;
}
.numimg {
	margin-bottom:-8px;
	margin-right: 1%;
}
@media screen 
and (min-width:1025px) 
and (max-width:1349px) {
#exulholder {
	width: 50%;
}
.numimg {
	margin-left: -22px;
}
}
/*------------------------------------------- Our Work */
#our_work {
	background: #fff url(../images/shadow_bg.png) repeat-x top;
	text-align: center;
	padding: 8%;
}
#our_work p {
	text-align:center;
	padding: 2% 14%;
	font-size:.9em;
}
#our_work h3 {
}
#our_work h2 {
	color:#d6d6d6;
	font-size: 2.3em;
	padding: 0% 0 4% 0;
	text-transform:uppercase;
}
/*------------------------------------- Landing Pages */
.example_lander {
	background: #fff url(../images/flags_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .example_lander {background: #fff url(../images/flags_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .example_lander {background: #fff url(../images/flags_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .example_lander {background: #fff url(../images/flags_600.jpg) no-repeat;}}
.example_lander p {
	width: 50%;
	margin:auto;
	text-align:center;
	color:#711471;
	font-size: 1.6em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

/*----------------------------ExpertiseStatisticalVisualization.aspx */
.expertise_stats_lander {
	background: #fff url(../images/charts_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .expertise_stats_lander {background: #fff url(../images/charts_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .expertise_stats_lander {background: #fff url(../images/charts_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .expertise_stats_lander {background: #fff url(../images/charts_600.jpg) no-repeat;}}


/*----------------------------ExpertisePolicyProgImplementation.aspx */
.expertise_policy_lander {
	background: #fff url(../images/policy_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .expertise_policy_lander {background: #fff url(../images/policy_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .expertise_policy_lander {background: #fff url(../images/policy_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .expertise_policy_lander {background: #fff url(../images/policy_600.jpg) no-repeat;}}


/*----------------------------ExpertiseManagConsultingLogis.aspx */
.expertise_manag_lander {
	background: #fff url(../images/manag_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .expertise_manag_lander {background: #fff url(../images/manag_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .expertise_manag_lander {background: #fff url(../images/manag_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .expertise_manag_lander {background: #fff url(../images/manag_600.jpg) no-repeat;}}
.example_lander p, .expertise_stats_lander p, .expertise_policy_lander p, .expertise_manag_lander p {
	width: 50%;
	margin:auto;
	text-align:center;
	color:#711471;
	font-size: 1.6em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

/*----------------------------ExpertiseELearning.aspx */
.expertise_elearning_lander {
	background: #fff url(../images/elearning_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .expertise_elearning_lander {background: #fff url(../images/elearning_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .expertise_elearning_lander {background: #fff url(../images/elearning_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .expertise_elearning_lander {background: #fff url(../images/elearning_600.jpg) no-repeat;}}


/*----------------------------ExpertiseItIntegration.aspx */
.expertise_integration_lander {
	background: #fff url(../images/integration_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .expertise_integration_lander {background: #fff url(../images/integration_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .expertise_integration_lander {background: #fff url(../images/integration_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .expertise_integration_lander {background: #fff url(../images/integration_600.jpg) no-repeat;}}

.example_lander p, .expertise_stats_lander p, .expertise_policy_lander p, .expertise_manag_lander p, .expertise_elearning_lander p, .expertise_integration_lander p {
	width: 50%;
	margin:auto;
	text-align:center;
	color:#711471;
	font-size: 1.6em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

/*----------------------------AwardsRecognition.aspx */
.awards_lander {
	background: #fff url(../images/awards_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .awards_lander {background: #fff url(../images/awards_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .awards_lander {background: #fff url(../images/awards_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .awards_lander {background: #fff url(../images/awards_600.jpg) no-repeat;}}

.example_lander p, .expertise_stats_lander p, .expertise_policy_lander p, .expertise_manag_lander p, .expertise_elearning_lander p, .expertise_integration_lander p, .awards_lander p {
	width: 50%;
	margin:auto;
	text-align:center;
	color:#711471;
	font-size: 1.6em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

/*----------------------------ClientsPartners.aspx */
.clients_lander {
	background: #fff url(../images/clients_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .clients_lander {background: #fff url(../images/clients_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .clients_lander {background: #fff url(../images/clients_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .clients_lander {background: #fff url(../images/clients_600.jpg) no-repeat;}}


/*----------------------------TheCompany.aspx */
.company_lander {
	background: #fff url(../images/company_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .company_lander {background: #fff url(../images/company_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .company_lander {background: #fff url(../images/company_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .company_lander {background: #fff url(../images/company_600.jpg) no-repeat;}}

/*----------------------------CareersWithUs.aspx */
.careers_lander {
	background: #fff url(../images/careers_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .careers_lander {background: #fff url(../images/careers_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .careers_lander {background: #fff url(../images/careers_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .careers_lander {background: #fff url(../images/careers_600.jpg) no-repeat;}}

/*----------------------------PartnerWithUs.aspx */
.partner_lander {
	background: #fff url(../images/partner_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .partner_lander {background: #fff url(../images/partner_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .partner_lander {background: #fff url(../images/partner_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .partner_lander {background: #fff url(../images/partner_600.jpg) no-repeat;}}

/*----------------------------ConsultWithUs.aspx */
.consult_lander {
	background: #fff url(../images/consult_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .consult_lander {background: #fff url(../images/consult_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .consult_lander {background: #fff url(../images/consult_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .consult_lander {background: #fff url(../images/consult_600.jpg) no-repeat;}}

/*----------------------------ContractVehicles.aspx */
.contract_lander {
	background: #fff url(../images/contract_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	margin-top: 5%;
	}
@media screen and (max-width: 1700px) { .contract_lander {background: #fff url(../images/contract_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .contract_lander {background: #fff url(../images/contract_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .contract_lander {background: #fff url(../images/contract_600.jpg) no-repeat;}}

.example_lander p, .expertise_stats_lander p, .expertise_policy_lander p, .expertise_manag_lander p, .expertise_elearning_lander p, .expertise_integration_lander p, .awards_lander p, .clients_lander p, .contract_lander p, .company_lander p, .careers_lander p, .consult_lander p, .partner_lander p  {
	width: 50%;
	margin:auto;
	text-align:center;
	color:#711471;
	font-size: 1.6em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.cvc {
	margin-left: 2%;
	margin-top: 5%;
}
.cvc li {
	list-style:none;
}
.cvc a {
	font-style:normal;
	font-family: 'Montserrat', sans-serif;
	font-size:1.2em;
}
.cl {
	margin-left: 4%;
}
.sublist {
	margin-left: 5%;
	margin-top: 0;
	margin-bottom: 5%;
}

.example_lander p, .expertise_stats_lander p, .expertise_policy_lander p, .expertise_manag_lander p, .expertise_elearning_lander p, .expertise_integration_lander p {
	width: 50%;
	margin:auto;
	text-align:center;
	color:#711471;
	font-size: 1.6em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}


/*----------------------- Who We Are */
.whoweare_lander {background: #fff url(../images/videoBG_2500.jpg) no-repeat top center fixed;}
@media screen and (max-width: 1700px) { .whoweare_lander {background: #fff url(../images/videoBG_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .whoweare_lander {background: #fff url(../images/videoBG_1300.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .whoweare_lander {background: #fff url(../images/videoBG_mobile.jpg) no-repeat;}}
/*----------------------- Our Expertise */
.ourexpertise_lander {background: #fff url(../images/ourexpertise_2700.jpg) no-repeat top center fixed;}
@media screen and (max-width: 1700px) { .ourexpertise_lander {background: #fff url(../images/ourexpertise_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .ourexpertise_lander {background: #fff url(../images/ourexpertise_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .ourexpertise_lander {background: #fff url(../images/ourexpertise_600.jpg) no-repeat;}}
/*----------------------- Our Work */
.ourwork_lander {background: #fff url(../images/ourwork_2700.jpg) no-repeat top center fixed;}
@media screen and (max-width: 1700px) { .ourwork_lander {background: #fff url(../images/ourwork_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .ourwork_lander {background: #fff url(../images/ourwork_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .ourwork_lander {background: #fff url(../images/ourwork_600.jpg) no-repeat;}}
/*----------------------- Let's Talk */
.letstalk_lander {background: #fff url(../images/letstalk_2700.jpg) no-repeat top center fixed;}
@media screen and (max-width: 1700px) { .letstalk_lander {background: #fff url(../images/letstalk_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .letstalk_lander {background: #fff url(../images/letstalk_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .letstalk_lander {background: #fff url(../images/letstalk_600.jpg) no-repeat;}}
/*------------------------------------------- Flag Area */
#flag_area {
	background: #fff url(../images/flags_2700.jpg) no-repeat;
	border-top: 1px solid #711471;
	border-bottom: 1px solid #711471;
	padding: 8% 0;
}
@media screen and (max-width: 1700px) { #flag_area {background: #fff url(../images/flags_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { #flag_area {background: #fff url(../images/flags_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { #flag_area {background: #fff url(../images/flags_600.jpg) no-repeat;}}

#flag_area p {
	width: 50%;
	margin:auto;
	text-align:center;
	color:#711471;
	font-size: 1.6em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}



/*------------------------------------------- Let's Talk */
#lets_talk {
	background: #474646;
	text-align:center;
	text-transform:uppercase;
	font-size: 2.5em;
	padding: 2% 0;
}
#lets_talk h4 {
}
#lets_talk a {
	text-decoration:none;
	color: #aad03b;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style:normal;
	font-size:1.4em;
}
.wus {
	color:#b161a6;
}
#lets_talk a:hover .wus { color: #aad03b; }
.google-maps {
        position: relative;
        padding-bottom: 20%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
		width: 70%;
		margin:auto;
		margin-bottom: 5%;
		margin-top: 5%;
    }
.google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}

/*------------------------------------------- Interior Content */
#interior_landing {
	padding: 17% 0 4% 0%;
}
#interior_landing_text {
}
#interior_landing_text h1 {
	text-align:left;
	color:#8fb424;
	font-size: 2em;
}
.land_purpleh1 {
	text-transform:uppercase;
	font-size:2.3em;
	color:#59386a;
}
.landing_icons {
}
.landing_icons .row {
	margin-bottom: 5%;
}
.landing_card {
	text-align:center;
	padding: 12% 5%;
	background-color:#F5F5F5;
	width: 80%;
	margin:auto;
	margin-bottom: 5%;
	min-height: 300px;
}
.landing_card h4 {
	padding: 3% 0%;
	border-top: 1px dotted #8e8e8d;
	width: 80%;
	margin: auto;
}
.landing_card a {
	font-size: 1.1em;
	color: #5b5b5b;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style:normal;
}
.landicon {
	max-width: 100px;
	margin-bottom: 5%;
}
.landicon img {
}
/*------------------------------------------- Sorting Styles */
.sort_row {
	background:#787878;
}
.sort_contain {
	padding: 2% 0;
	text-align:center;
}
.sort_contain h2 {
	color: #E8E8E8;
}

.sort h3 {
	margin-bottom: 2em;
}

/*------------------------------------------- News & Highlights */
#news_highlights {
	background: #aad03b;
	padding-bottom: 3%;
}
#news_highlights h5 {
	color:#711471;
	text-transform:uppercase;
	font-size: 1.8em;
	padding-top: 8px;
}
.twitterh5 {
	background:url(../images/twitter.png) top left no-repeat;
	padding-left: 50px;
	padding-bottom: 10px;
}
.nh_contain {
	margin-bottom: 2%;
	width: 90%;
	margin:auto;
	margin-bottom: 3%;
}
.nh_pic {
	width: 20%;
	float:left;
	display:inline;
}
.nh_text {
	width: 80%;
	float:right;
	display:inline;
	padding-bottom: 3%;
}
.nh_text h6 {
	color: #464646;
	font-size: 1.4em;
	margin: 1.8% 0;
	padding: 0;
}
.nh_text p {
	font-size: .9em;
	color:#fff;
	line-height: 1.2em;
}
.nh_text a {
	text-decoration:none;
	color:#711471;
	font-family: 'Montserrat', sans-serif;
}


/*------------------------------------- Case Detail */

#caseheader {
	width: 90%;
	margin:auto;
	height:100%;
}
.case_detail_landing {
	background:#711471;
	padding: 100px 0 0 0;
}
.case_intro {
	padding: 150px 0 0 0;
}
.case_detail_landing h1 {
	font-size: 1.3em;
	margin: 2% 0 1% 0;
	padding: 0 0 1% 0;
	color:#dc5cdc;
	text-transform:uppercase;
	border-bottom: 1px dotted #dc5cdc;
}
.case_detail_landing h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.3em;
	color:#fff;
	margin-bottom: 3%;
}
.case_slider li {
	list-style-type: none;
	margin:0;
	padding:0;
}
.case_slider {
	padding: 0% 0;
	margin-top: 0%
}
.ataglance {
	padding: 10%;
	background-color:#f5f5f5;
	width: 70%;
	float:right;
}
.ataglance h3 {
	padding-bottom: 5%;
	color: #474646;
}
.case_detail {
	padding: 0 0 5% 0;
}
.case_detail li {
	text-indent: 0;
}
.pag_title {
	font-family: 'Source Sans Pro', sans-serif;
	color:#dc5cdc;
	font-size: .9em;
}
.pag_ul li {
	margin-left:0;
	padding-left:0;
}
.cd_intro {
	padding: 5% 5% 0 5%;
}
.cardgrid {
	padding-top: 2.5%;
	width: 90%;
	margin:auto;
}
.cd_card {
	text-align:center;
	padding: 5%;
	background-color:#f5f5f5;
	height: 100%;
	min-height: 250px;
}
.cd_card h4 {
	background:#4A4A4A;
	color:#dc5cdc;
	margin:0;
	padding: 5% 0;
	width: 100%;
	text-transform:uppercase;
}
.cd_card li {
	list-style-type:none;
	margin-bottom: 12%;
}
.cd_card a {
	color:#4A4A4A;
	text-decoration:underline;
}
.cdlast {
	padding-bottom: 5%;
}
.case_intro .basic_content {
	padding-bottom: 2%;
}
.csrow {
	margin-bottom: 5%;
}
.casestudy_card {
	background-color:#F7F7F7;
	padding: 5% 10%;
	margin-top: 5%;
	min-height: 250px;
}
.casestudy_card ul {
	margin-left: 10%;
}
.casestudy_card li {
}
.casestudy_card h4 {
	font-size:1.2em;
}
.casestudy_card a {
	font-style:normal;
	color:#474646;
}
/*------------------------------------------- Subject Matter Experts */
.smrow {
	margin-bottom: 5%;
}
.subject_card {
	background-color:#F7F7F7;
	padding: 5% 10%;
	margin-top: 5%;
}
.subject_card ul {
	margin-left: 10%;
}
.subject_card li {
}
.subject_card h4 {
	font-size:1.2em;
}
.subject_card a {
	font-style:normal;
	color:#474646;
}

/*------------------------------------------- Leadership */
.leadercontent {
	margin-top: 5%;
}
.leadercontent p {
	margin-bottom: 0;
}
.prachee {
	padding: 6% 13%;
	border: 2px solid #f5f5f5;
	margin-bottom: 5%;
}
.prachee h2 {
	font-size:1.7em;
	padding-bottom: 3%;
}
.prachee h3 {
}
.leaderrow {
	margin-bottom: 5%;
}
.leaders {
	padding: 0 5% 3% 0%;
}
.leaders h3 {
	font-size: 1.4em;
}
.leaders h4 {
	color: #474646;
	font-style:italic;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:1em;
}

/*------------------------------------------- Footer */
#footer {
	background: #711471;
	padding: 3% 0;
}
#footer p {
	margin: 0;
	padding: 0;
	text-align:center;
	font-size: .8em;
	color:#b161a6;
}


/*------------------------------------------- Tablet */
@media screen and (max-width: 1024px) {
#header {
	padding-bottom: 5%;
}
#nav_contain {
	float:none;
	margin:auto
}
#sei_logo {
	float:none;
	display:block;
	max-width: none;
	margin-left: 0%;
	width: 90%;
	margin:auto;
	text-align:center;
}
#nav {
  width: 480px;
  float: none;
  margin-top: 8%;
  margin-bottom: 5%;
  margin:auto;
  padding-top: 3%
}
#search_contain {
	width: 200px;
	margin:auto;
	float:none;
	padding-top: 3%;
}
#searchbox {
	float:left;
	display:inline;
	width: 148px;
	border: 1px solid #CCCCCC;
	height: 30px;
}
#gobox {
	float: right;
	display:inline;
	width: 50px;
	background-color:#aad03b;
	height: 32px;
	margin-top:10px;
}
#gobox p {
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	padding: 8px;
	margin: 0;
}
.sort_contain {
	padding: 4% 0;
}
#news_highlights h5 {
	margin-top:0;
}
#exholder {
	width:90%;
	margin:auto;
}
#exh2holder {
	width:100%;
	margin-right:0%;
	float:none;
	display:block;
}
#exulholder {
	width: 100%;
	float: none;
	display:block;
}
#exh2holder h2 {
	text-align:left;
	font-size: 3em;
	padding: 6% 0;
}
#interior_landing {
  padding: 20% 0 8% 0;
}
#interior_landing_text { 
	padding-left: 5%;
}
.nh_text {
	width: 70%;
}
#news_highlights {
	padding: 5% 5%;
}
.landing_padding_double {
  padding-top: 20%;
}
.landing_padding_double h1 {
	padding: 3% 6%;
}
.landing_padding_double p {
	padding: 3% 6%;
}
}
/*------------------------------------------- Tablet Portrait */
@media screen 
and (max-width : 768px) {
.slide_desktop { display:none; }
.slide_mobile { display:block; }
.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 1em;
  text-shadow: none;
  color: #f5f5f5;
  padding: 0;
  margin: 20% 20% 0 20%;
  max-width: 80%;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}
ul {
	padding-left:10%;
}
#interior_landing_text h1 {
	text-align:center;
	width: 60%;
	margin:auto;
	color:#8fb424;
	font-size: 1.5em;
	line-height:1.4em;
}
.ataglance {
	padding: 5%;
	width: 90%;
	float:none;
}
.cardgrid {
  padding-bottom: 0%;
  padding-top: 0%;
}
.cd_card {
  text-align: center;
  padding: 5%;
  background-color: #f5f5f5;
  height: 100%;
  min-height: 250px;
  margin: 5% 0;
}
.land_purpleh1 {
	text-transform:uppercase;
	font-size:1.6em;
	color:#59386a;
}
.nh_pic {
	width: 50%;
	margin:auto;
	float:none;
	display:block;
	text-align:center;
}
.nh_text {
	width: 80%;
	margin:auto;
	float:none;
	display:block;
	padding-bottom: 3%;
}
#news_highlights h5 {
	text-align:center;
}
.nh_text h6 {
	text-align:center;
}
.twitterh5 {
	background:url(../images/twitter.png) top center no-repeat;
	padding-left: 0px;
	padding-top: 30px!important;
}
.main_icon {
	padding: 10% 0;
}
.main_icon img {
	margin-bottom: 0;
}
.basic_content {
	padding:8% 8%;
}
.bigh1 {
	font-size:2em;
}
#footer {
	padding: 12% 10%;
}
}
/*------------------------------------------- Mobile */
@media screen and (max-width: 480px) {
#header {
	background-color: rgba(255, 255, 255, 1);
	padding: 3% 0 3% 0;
	position:inherit;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 100;
}
.js #menu {
		display:none!important;
}
#nav_contain {
	width:100%;
	float:none;
	margin-right: 0%;
	display:block;
}
#nav {
	padding: 0;
}
#nav ul {
	text-align:center;
	padding:0;
	margin:0;
}
#nav li {
	display:block;
	list-style-type:none;
}
#nav a {
	color: #aad03b;
	text-transform:uppercase;
	padding: 3% 0%;
	text-decoration:none;
	font-weight: bold;
	text-align:center;
}
#landing_text {
	padding: 40% 10% 10% 10%;
}
#landing_text h1 {
	font-size: 1.5em;
	color:#8fb424;
	line-height:1.5em;
}
.phe {
	text-transform:uppercase;
	font-size:1.7em;
	color:#59386a;
}
.and {
	font-size:1.5em;
}
#who_we_are h2 {
  color: #d6d6d6;
  font-size: 2.3em;
  padding: 20% 0 10% 0;
  text-transform: uppercase;
}
.nh_text {
	width: 60%;
}
#interior_landing {
  padding: 50% 0 10% 0;
}
#interior_landing_text h1 {
	text-align:center;
	width: 60%;
	margin:auto;
	color:#8fb424;
	font-size: 1.5em;
	line-height:1.4em;
}
.land_purpleh1 {
	text-transform:uppercase;
	font-size:2em;
	color:#59386a;
}
#flag_area p {
  width: 80%;
  font-size: 1.4em;
}
#news_highlights {
	background: #aad03b;
	padding-bottom: 3%;
	padding-top: 8%;
}
.icon_contain {
	width:90%;
	padding: 20% 0%;
	float:none;
	margin:auto;
	display:block;
	height:100%;
}
#exholder {
	width:80%;
}
.expertise {
	padding-left: 10%;
}
.expertise li {
	font-size:1.3em;
	font-weight:bold;
	padding: 0% 0 10% 0;
	text-align:left;
}
.numimg {
	margin-left: -22px;
}
.icon_3 {
	width: 100%;
	float:none;
}
.icon_2 {
	width: 100%;
	margin-left: 0%;
	float:none;
}
.iconright {
	margin-left: 0%;
	margin-right: 0%;
	float:none;
}
}

.navbar-fixed-top{
	right:0 !important;
}
