/* Global */
body {height:100% !important;}
* {margin:0;padding:0}
.clear {clear:both;}
video { 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background:url(../images/typing_background.jpg) no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.shadow_bg {
	top:0;
	left:0;
	background: url(../images/circles_bg.png) repeat 0 0;
	position:absolute;
	width:100%;
	height: 100%;
}
.stopfade { 
   opacity: .5;
}

.purple { color: #711471;}
.lightpurple { color:#dc5cdc;}
.darkpurple { color:#480448;}

.green { color: #aad03b;}
.lightgreen { color:#d9fc75;}
.darkgreen { color:#8fb424;}

.charcoal { color: #474646;}
.lightgrey { color: #f5f5f5;}

.white {color: #fff;}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
h1 {
	font-size: 1.5em;
	color: #711471;
	text-transform:uppercase;
}
h2 {
	font-size: 1.5em;
	color: #711471;
	text-transform:uppercase;
}
h3 {
	font-size: 1.3em;
	color: #aad03b;
	text-transform:uppercase;
	margin:0;
	padding: 0% 0;
}
h4 {
	color:#dc5cdc;
}
h5 {
	color: #474646;
	text-transform:none;
	margin-bottom: .6em;
	font-size: .9em;
}
h6 {
}
ul {
	list-style: disc;
    padding:0;
}
#nav ul {
	margin-left:0;
}
li {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color:#4b4b4b;
	font-size: 1em;
}
a {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color:#dc5cdc;
	text-decoration:none;
	font-style:italic;
}
a:hover {
	color: #f368f3;
}
.learn_btn {
	text-align:center;
	text-transform:uppercase;
	background:#B161A6;
	border: none;
	padding: 5% 6%;
	color:#fff;
	margin: auto;
	margin-top: 8%;
	font-size:.7em;
	text-decoration:none;
	cursor:pointer;
	
}
.learn_btn_two {
	text-align:center;
	text-transform:uppercase;
	background:#fff;
	padding: 4% 5%;
	color:#666;
	margin: auto;
	margin-top: 8%;
	font-size:.9em;
	text-decoration:none;
	cursor:pointer;
	-webkit-border-radius: 14;
  	-moz-border-radius: 14;
  	border-radius: 14px;
	border: solid #9cdb69 1px;

}
.learn_btn_two:hover {
	background:#e6fbd5;
}
.basic_content {
	width:90%;
	height:100%;
	margin:auto;
	padding-top: 8%;
	padding-bottom: 8%;
}
.basic_content li {
}
.basic_content ul {
	  padding: 0 0 0 40px;
}
.basic_content ol {
}
.slide_desktop { display:inherit; }
.slide_mobile { display:none; }
/*------------------------------------------- Header */
#header {
	background-color: #fff;
	padding: 1% 0 .5% 0;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 100;
	position:fixed;
}
#sei_logo {
	float:left;
	display:inline;
	width:22%;
	/*max-width: 120px;*/
	margin-left: 2.5%;
	text-align:left;
}
#nav_contain {
	width:750px;
	float:right;
	margin-right: 2.5%;
	display:inline;
}
#nav {
	width: 550px;
	float:left;
	margin-top: 3%;
}
.mainnav li:before {
	list-style-type:none;
}
#nav li {
	display:inline;
	font-weight: 400;
	padding-left: 0; 
    text-indent: 0;
	margin-bottom: 0;
}
#nav a {
	color: #B161A6;
	text-transform:uppercase;
	padding: 0 3%;
	text-decoration:none;
	font-weight: bold;
	font-style:normal;
}
#search_contain {
	width: 200px;
	float:right;
}
#searchbox {
	float:left;
	display:inline;
	width: 148px;
	border: 1px solid #CCCCCC;
	height: 30px;
	margin-top:10px;
}
#gobox {
	float: left;
	display:inline;
	width: 50px;
	background-color:#aad03b;
	height: 32px;
	margin-top:10px;
}
#gobox p {
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	padding: 8px;
	margin: 0;
}
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 40em) {
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}
@media screen and (max-width: 39.9em) { 
.js #menu {
	display:block;
}
}
/*------------------------------------------- Video Area */
#video_area {
	padding: 15% 0 0% 0;
	text-align:left;
	border-bottom: 1px solid #711471;
	/*background: #fff url(../images/videoBG_2500.jpg) no-repeat top center fixed;*/
}
/*@media screen and (max-width: 1700px) { #video_area {background: #fff url(../images/videoBG_1700.jpg) no-repeat top center fixed;}}
@media screen and (max-width: 1200px) { #video_area {background: #fff url(../images/videoBG_1300.jpg) no-repeat top center fixed;}}
@media screen and (max-width: 600px) { #video_area {background: #fff url(../images/videoBG_mobile.jpg) no-repeat top center fixed;}}*/

#landing_text {
	padding: 5% 10%;
}
#landing_text h1 {
	font-size: 2em;
	color:#8fb424;
}
.phe {
	text-transform:uppercase;
	font-size:2.3em;
	color:#59386a;
}
.and {
	font-size:1.8em;
}
/*------------------------------------------- Who We Are */
#who_we_are {
	background: url(../images/circles_bg.png) repeat-x top #fff;
	text-align:center;
	padding: 8%;
}
#who_we_are p {
	text-align:center;
	padding: 2% 14%;
	font-size: .9em;
}
.threeicon_contain {
	width: 100%;
	max-width: 1200px;
	margin:auto;
	padding: 2% 0;
}
.icon_contain {
	width:27%;
	padding: 0 3%;
	float:left;
	display:inline;
}
.icon_contain img {
	max-width: 100px;
}
.ic2_left {
	float:left;
	width: 27%;
	margin-left: 16%;
}
.ic2_right {
	float:right;
	width: 27%;
	margin-right: 16%;
}
.icfirst {
}
.iclast {
}
.icon_contain h3 {
	font-size: 1.3em;
	color: #B161A6;
	padding: 3% 0%;
 	border-bottom: 1px dotted #b2b2b2;
 	border-top: 1px dotted #b2b2b2;
}
#who_we_are h2 {
	color:#d6d6d6;
	font-size: 2.3em;
	padding: 0% 0 4% 0;
	text-transform:uppercase;
}

/*------------------------------------------- Our Expertise */
#our_expertise {
	background: #a0769c url(../images/purpleDesk_2700.jpg) no-repeat;
	padding: 7% 0 4% 0;
	border-top: 1px solid #711471;
	border-bottom: 1px solid #711471;
	position:relative;
}
.expertise {
	list-style-type:none;
	color:#fff;
}
#exholder {
	width:80%;
	margin:auto;
}
#exh2holder {
	width:40%;
	margin-right:3%;
	float:left;
	display:inline;
}
#exulholder {
	width: 57%;
	float: right;
	display:inline;
}
#exh2holder h2 {
	text-align:right;
	font-size: 4em;
	text-transform:uppercase;
	color: #aad03b;
	margin-top:-20px;
	padding-top:0;
}
.expertise li {
	font-size:1.4em;
	font-weight:bold;
	padding: 0% 0 3% 0;
	text-align:left;
	color:#fff;
	list-style-type:none;
	margin-bottom: 3%;
	text-indent: -7px;
}
.expertise a {
	font-weight:bold;
	font-style:normal;
	color:#fff;
}
.numimg {
	margin-bottom:-8px;
	margin-right: 1%;
}
@media screen 
and (min-width:1025px) 
and (max-width:1349px) {
#exulholder {
	width: 50%;
}
.numimg {
	margin-left: -22px;
}
}
/*------------------------------------------- Our Work */
#our_work {
	background: #fff url(../images/circles_bg.png) repeat-x top;
	text-align: center;
	padding: 8%;
}
#our_work p {
	text-align:center;
	padding: 2% 14%;
	font-size:.9em;
}
#our_work h3 {
	font-size: 1.3em;
	color: #B161A6;
}
#our_work h2 {
	color:#d6d6d6;
	font-size: 2.3em;
	padding: 0% 0 4% 0;
	text-transform:uppercase;
}
/*------------------------------------- Landing Pages */
.example_lander {
	background: #fff url(../images/flags_2700.jpg) no-repeat top center fixed;
	padding: 8% 0;
	border-top: 1px solid #711471;
	}
@media screen and (max-width: 1700px) { .example_lander {background: #fff url(../images/flags_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .example_lander {background: #fff url(../images/flags_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .example_lander {background: #fff url(../images/flags_600.jpg) no-repeat;}}
.example_lander p {
	width: 50%;
	margin:auto;
	text-align:center;
	color:#711471;
	font-size: 1.6em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
/*----------------------- Who We Are */
.whoweare_lander {background: #fff url(../images/videoBG_2500.jpg) no-repeat top center fixed;}
@media screen and (max-width: 1700px) { .whoweare_lander {background: #fff url(../images/videoBG_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .whoweare_lander {background: #fff url(../images/videoBG_1300.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .whoweare_lander {background: #fff url(../images/videoBG_mobile.jpg) no-repeat;}}
/*----------------------- Our Expertise */
.expertise_lander {background: #fff url(../images/flags_2700.jpg) no-repeat top center fixed;}
@media screen and (max-width: 1700px) { .expertise_lander {background: #fff url(../images/flags_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .expertise_lander {background: #fff url(../images/flags_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .expertise_lander {background: #fff url(../images/flags_600.jpg) no-repeat;}}
/*----------------------- Our Work */
.ourwork_lander {background: #fff url(../images/flags_2700.jpg) no-repeat top center fixed;}
@media screen and (max-width: 1700px) { .ourwork_lander {background: #fff url(../images/flags_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .ourwork_lander {background: #fff url(../images/flags_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .ourwork_lander {background: #fff url(../images/flags_600.jpg) no-repeat;}}
/*----------------------- Let's Talk */
.letstalk_lander {background: #fff url(../images/flags_2700.jpg) no-repeat top center fixed;}
@media screen and (max-width: 1700px) { .letstalk_lander {background: #fff url(../images/flags_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { .letstalk_lander {background: #fff url(../images/flags_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { .letstalk_lander {background: #fff url(../images/flags_600.jpg) no-repeat;}}
/*------------------------------------------- Flag Area */
#flag_area {
	background: #fff url(../images/flags_2700.jpg) no-repeat;
	border-top: 1px solid #711471;
	border-bottom: 1px solid #711471;
	padding: 8% 0;
}
@media screen and (max-width: 1700px) { #flag_area {background: #fff url(../images/flags_1700.jpg) no-repeat;}}
@media screen and (max-width: 1200px) { #flag_area {background: #fff url(../images/flags_1200.jpg) no-repeat;}}
@media screen and (max-width: 600px) { #flag_area {background: #fff url(../images/flags_600.jpg) no-repeat;}}

#flag_area p {
	width: 50%;
	margin:auto;
	text-align:center;
	color:#711471;
	font-size: 1.6em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}



/*------------------------------------------- Let's Talk */
#lets_talk {
	background: #474646;
	text-align:center;
	text-transform:uppercase;
	font-size: 2.5em;
	padding: 2% 0;
}
#lets_talk h4 {
}
#lets_talk a {
	text-decoration:none;
	color: #aad03b;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style:normal;
}
.wus {
	color:#b161a6;
}
.google-maps {
        position: relative;
        padding-bottom: 20%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
.google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}

/*------------------------------------------- Interior Content */
#interior_landing {
	padding: 17% 0 4% 0%;
}
#interior_landing_text {
}
#interior_landing_text h1 {
	text-align:left;
	color:#8fb424;
	font-size: 2em;
}
.land_purpleh1 {
	text-transform:uppercase;
	font-size:2.3em;
	color:#59386a;
}
#interior_landing_content h2 {
}
#interior_landing_content h3 {
}
#interior_landing_content h4 {
}
#interior_landing_content h5 {
}
.landing_icons {
}
.iconrow_contain {
	padding-top: 3%;
}
.iconrow {
	width: 80%;
	padding: 3% 0;
	margin:auto;
}
.iconrow img {
}
.icon_3 {
	width: 33.3%;
	float:left;
	text-align:center;
}
.icon_2 {
	text-align:center;
	width: 40%;
	margin-left: 10%;
	float:left;
}
.icon_3 a, .icon_2 a {
	color:#C144C5;
	text-transform:uppercase;
	font-size: 1.5em;
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
	font-style:normal;
}
.icon_3 a:hover, .icon_2 a:hover {
	color:#C144C5;
}
.iconright {
	margin-left: 0%;
	margin-right: 10%;
	float:right;
}
/*------------------------------------------- Sorting Styles */
.sort_row {
	background:#787878;
}
.sort_contain {
	padding: 4% 0;
	text-align:center;
}
.sort_contain h2 {
	color: #E8E8E8;
}

/*------------------------------------------- News & Highlights */
#news_highlights {
	background: #aad03b;
	padding-bottom: 3%;
}
#news_highlights h5 {
	color:#711471;
	text-transform:uppercase;
	font-size: 1.8em;
	padding-top: 8px;
}
.twitterh5 {
	background:url(../images/twitter.png) top left no-repeat;
	padding-left: 50px;
	padding-bottom: 10px;
}
.nh_contain {
	margin-bottom: 2%;
	width: 90%;
	margin:auto;
	margin-bottom: 3%;
}
.nh_pic {
	width: 20%;
	float:left;
	display:inline;
}
.nh_text {
	width: 80%;
	float:right;
	display:inline;
	padding-bottom: 3%;
}
.nh_text h6 {
	color: #464646;
	font-size: 1.4em;
	margin: 1.8% 0;
	padding: 0;
}
.nh_text p {
	font-size: .9em;
	color:#fff;
	line-height: 1.2em;
}
.nh_text a {
	text-decoration:none;
	color:#711471;
	font-family: 'Montserrat', sans-serif;
}


/*------------------------------------- Case Detail */

#caseheader {
	width: 90%;
	margin:auto;
	height:100%;
}
.case_detail_landing {
	background:#711471;
	padding: 100px 0 0 0;
}
.case_intro {
	padding: 150px 0 0 0;
}
.case_detail_landing h1 {
	font-size: 1.3em;
	margin: 2% 0 1% 0;
	padding: 0 0 1% 0;
	color:#dc5cdc;
	text-transform:uppercase;
	border-bottom: 1px dotted #dc5cdc;
}
.case_detail_landing h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.3em;
	color:#fff;
	margin-bottom: 3%;
}
.case_slider li {
	list-style-type: none;
	margin:0;
	padding:0;
}
.case_slider {
	padding: 0% 0;
	margin-top: 0%
}
.ataglance {
	padding: 10%;
	background-color:#f5f5f5;
	width: 70%;
	float:right;
}
.ataglance h3 {
	padding-bottom: 5%;
	color: #474646;
}
.case_detail {
	padding: 0 0 5% 0;
}
.case_detail li {
	text-indent: 0;
}
.pag_title {
	font-family: 'Source Sans Pro', sans-serif;
	color:#dc5cdc;
	font-size: .9em;
}
.pag_ul li {
	margin-left:0;
	padding-left:0;
}
.cd_intro {
	padding: 5% 5% 0 5%;
}
.cardgrid {
	padding-top: 2.5%;
	width: 90%;
	margin:auto;
}
.cd_card {
	text-align:center;
	padding: 5%;
	background-color:#f5f5f5;
	height: 100%;
	min-height: 250px;
}
.cd_card h4 {
	background:#4A4A4A;
	color:#dc5cdc;
	margin:0;
	padding: 5% 0;
	width: 100%;
	text-transform:uppercase;
}
.cd_card li {
	list-style-type:none;
	margin-bottom: 12%;
}
.cd_card a {
	color:#4A4A4A;
	text-decoration:underline;
}
.cdlast {
	padding-bottom: 5%;
}


/*------------------------------------------- Footer */
#footer {
	background: #711471;
	padding: 3% 0;
}
#footer p {
	margin: 0;
	padding: 0;
	text-align:center;
	font-size: .8em;
	color:#b161a6;
}


/*------------------------------------------- Tablet */
@media screen and (max-width: 1024px) {
#header {
	padding-bottom: 5%;
}
#nav_contain {
	float:none;
	margin:auto
}
#sei_logo {
	float:none;
	display:block;
	max-width: none;
	margin-left: 0%;
	width: 90%;
	margin:auto;
	text-align:center;
}
#nav {
  width: 480px;
  float: none;
  margin-top: 8%;
  margin-bottom: 5%;
  margin:auto;
  padding-top: 3%
}
#search_contain {
	width: 200px;
	margin:auto;
	float:none;
	padding-top: 3%;
}
#searchbox {
	float:left;
	display:inline;
	width: 148px;
	border: 1px solid #CCCCCC;
	height: 30px;
}
#gobox {
	float: right;
	display:inline;
	width: 50px;
	background-color:#aad03b;
	height: 32px;
	margin-top:10px;
}
#gobox p {
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	padding: 8px;
	margin: 0;
}
.sort_contain {
	padding: 4% 0;
}
#news_highlights h5 {
	margin-top:0;
}
#exholder {
	width:90%;
	margin:auto;
}
#exh2holder {
	width:100%;
	margin-right:0%;
	float:none;
	display:block;
}
#exulholder {
	width: 100%;
	float: none;
	display:block;
}
#exh2holder h2 {
	text-align:left;
	font-size: 3em;
	padding: 6% 0;
}
#interior_landing {
  padding: 40% 0 10% 0;
}
.icon_3 {
  width: 40%;
  float: none;
  margin:auto;
  padding: 5% 0;
}
.icon_2 {
  width: 40%;
  float: none;
  margin:auto;
  padding: 5% 0;
}
.nh_text {
	width: 70%;
}
}
/*------------------------------------------- Tablet Portrait */
@media screen 
and (max-width : 768px) {
.slide_desktop { display:none; }
.slide_mobile { display:block; }

#interior_landing_text h1 {
	text-align:center;
	width: 60%;
	margin:auto;
	color:#8fb424;
	font-size: 1.5em;
	line-height:1.4em;
}
.ataglance {
	padding: 5%;
	width: 90%;
	float:none;
}
.cardgrid {
  padding-bottom: 0%;
  padding-top: 0%;
}
.cd_card {
  text-align: center;
  padding: 5%;
  background-color: #f5f5f5;
  height: 100%;
  min-height: 250px;
  margin: 5% 0;
}
.land_purpleh1 {
	text-transform:uppercase;
	font-size:1.6em;
	color:#59386a;
}
.nh_pic {
	width: 50%;
	margin:auto;
	float:none;
	display:block;
	text-align:center;
}
.nh_text {
	width: 80%;
	margin:auto;
	float:none;
	display:block;
	padding-bottom: 3%;
}
#news_highlights h5 {
	text-align:center;
}
.nh_text h6 {
	text-align:center;
}
.twitterh5 {
	background:url(../images/twitter.png) top center no-repeat;
	padding-left: 0px;
	padding-top: 30px!important;
}
#footer {
	padding: 12% 10%;
}
}
/*------------------------------------------- Mobile */
@media screen and (max-width: 480px) {
#header {
	background-color: rgba(255, 255, 255, 1);
	padding: 3% 0 3% 0;
	position:inherit;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 100;
}
.js #menu {
		display:none!important;
}
#nav_contain {
	width:100%;
	float:none;
	margin-right: 0%;
	display:block;
}
#nav {
	padding: 0;
}
#nav ul {
	text-align:center;
	padding:0;
	margin:0;
}
#nav li {
	display:block;
	list-style-type:none;
}
#nav a {
	color: #aad03b;
	text-transform:uppercase;
	padding: 3% 0%;
	text-decoration:none;
	font-weight: bold;
	text-align:center;
}
#landing_text {
	padding: 40% 10% 10% 10%;
}
#landing_text h1 {
	font-size: 1.5em;
	color:#8fb424;
	line-height:1.5em;
}
.phe {
	text-transform:uppercase;
	font-size:1.7em;
	color:#59386a;
}
.and {
	font-size:1.5em;
}
#who_we_are h2 {
  color: #d6d6d6;
  font-size: 2.3em;
  padding: 20% 0 10% 0;
  text-transform: uppercase;
}
.nh_text {
	width: 60%;
}
#interior_landing {
  padding: 50% 0 10% 0;
}
#interior_landing_text h1 {
	text-align:center;
	width: 60%;
	margin:auto;
	color:#8fb424;
	font-size: 1.5em;
	line-height:1.4em;
}
.land_purpleh1 {
	text-transform:uppercase;
	font-size:2em;
	color:#59386a;
}
#flag_area p {
  width: 80%;
  font-size: 1.4em;
}
#news_highlights {
	background: #aad03b;
	padding-bottom: 3%;
	padding-top: 8%;
}
.icon_contain {
	width:90%;
	padding: 20% 0%;
	float:none;
	margin:auto;
	display:block;
	height:100%;
}
#exholder {
	width:80%;
}
.expertise {
	padding-left: 10%;
}
.expertise li {
	font-size:1.3em;
	font-weight:bold;
	padding: 0% 0 10% 0;
	text-align:left;
}
.numimg {
	margin-left: -22px;
}
.icon_3 {
	width: 100%;
	float:none;
}
.icon_2 {
	width: 100%;
	margin-left: 0%;
	float:none;
}
.iconright {
	margin-left: 0%;
	margin-right: 0%;
	float:none;
}
}