﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="InnovativeItTeam.aspx.cs" Inherits="InnovativeItTeam" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="FeaturedContent" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="Server">
    <div class="container clearfix landing_intro">
        <div class="grid_12">
            <div class="basic_content">
                <h1>Innovative IT Team</h1>
            </div>
        </div>
    </div>
</asp:Content>

