/* Global */
* {
	margin:0;
	padding:0
}
.clear {clear:both;}
video { 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background:url(../images/typing_background.jpg) no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}
.purple {
	color: #711471;
}
.green {
	color: #aad03b;
}
.white {
	color: #fff;
}
.greenHeading {
	color: #711471;
	background: #aad03b url(../images/greenHeading_bg.png) top repeat-x;
	top: 0;
	width: 20%;
	margin:auto;
	padding: 3% 0% .5% 0%;
	margin-bottom: 5%;
	text-transform:uppercase;
}
.purpleHeading {
	color: #aad03b;
	background: #711471 url(../images/purpleHeading_bg.png) top repeat-x;
	top: 0;
	width: 20%;
	margin:auto;
	padding: 3% 0% .5% 0%;
	margin-bottom: 5%;
	text-transform:uppercase;
}
h1 {
}
h2 {
}
h3 {
	color:#b161a6;
	text-transform:uppercase;
}
h4 {
}
h5 {
}
h6 {
}
ul {
}
li {
}
p {
	color:#424242;
}
a {
}
.learn_btn {
	text-align:center;
	text-transform:uppercase;
	background:#bbdc9e;
	border: none;
	padding: 5% 6%;
	color:#fff;
	margin: auto;
	margin-top: 8%;
	font-size:.7em;
	text-decoration:none;
	cursor:pointer;
}
/*------------------------------------------- Header */
#header {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 0% 0 .2% 0;
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 100;
}
#sei_logo {
	float:left;
	display:inline;
}
#nav_contain {
	width:100%;
	float:right;
	display:inline;
}
#nav {
	float:left;
	display:inline;
	width: 80%;
	padding-top: 2%;
}
#nav li {
	display:inline;
	list-style-type:none;
}
#nav a {
	color: #aad03b;
	text-transform:uppercase;
	padding: 0 3%;
	text-decoration:none;
	font-weight: bold;
}
#searchbox {
	float:right;
	display:inline;
	width: 20%;
}

/*------------------------------------------- Video Area */
#video_area {
	padding: 12% 0;
	text-align:center;
}

/*------------------------------------------- Who We Are */
#who_we_are {
	background: url(../images/circles_bg.png) repeat-x top #fff;
	text-align:center;
	padding-bottom: 8%;
}
#who_we_are p {
	text-align:center;
	padding: 2% 14%;
}
.threeicon_contain {
	width: 100%;
	max-width: 1200px;
	margin:auto;
	padding: 2% 0;
}
.icon_contain {
	width:27%;
	padding: 0 3%;
	float:left;
	display:inline;
}
.icfirst {
}
.iclast {
}
.icon_contain h3 {
}

/*------------------------------------------- Our Expertise */
#our_expertise {
	background: #a0769c url(../images/purpleDesk_2700.jpg) no-repeat top center fixed;
	text-align: center;
	padding-bottom: 5%;
}
.expertise {
	list-style-type:none;
	color:#fff;
}
.expertise li {
	font-size:1.3em;
	font-weight:bold;
	padding: 0% 0 2% 0;
}
.numimg {
	margin-bottom:-10px;
}
/*------------------------------------------- Our Work */
#our_work {
	background: #fff url(../images/circles_bg.png) repeat-x top;
	text-align: center;
	padding-bottom: 8%;
}
#our_work p {
	text-align:center;
	padding: 2% 14%;
}

/*------------------------------------------- Flag Area */
#flag_area {
	background: url(../images/flags_2700.jpg) no-repeat top center fixed;
	border-top: 1px solid #711471;
	border-bottom: 1px solid #711471;
	height: 400px;
}
@media screen and (max-width: 1700px) {
#flag_area {
	background: url(../images/flags_1700.jpg);
	height: 300px;
}
}
@media screen and (max-width: 1200px) {
#flag_area {
	background: url(../images/flags_1200.jpg);
	height: 250px;
}
}

/*------------------------------------------- Let's Talk */
#lets_talk {
	background: #474646;
	text-align:center;
	text-transform:uppercase;
	font-size: 2.5em;
	padding: 2% 0;
}
#lets_talk h4 {
}
#lets_talk a {
	text-decoration:none;
	color: #aad03b;
}
.wus {
	color:#b161a6;
}

/*------------------------------------------- News & Highlights */
#news_highlights {
	background: #aad03b;
	padding-bottom: 3%;
}
#news_highlights h5 {
	color:#711471;
	text-transform:uppercase;
	font-size: 1.8em;
	padding-top: 8px;
}
.twitterh5 {
	background:url(../images/twitter.png) top left no-repeat;
	padding-left: 50px;
	padding-bottom: 10px;
}
.nh_contain {
	margin-bottom: 2%;
	width: 90%;
	margin:auto;
	margin-bottom: 3%;
}
.nh_pic {
	width: 20%;
	float:left;
	display:inline;
}
.nh_text {
	width: 80%;
	float:right;
	display:inline;
	padding-bottom: 3%;
}
.nh_text h6 {
	color: #464646;
	font-size: 1.4em;
	margin: 2% 0;
	padding: 0;
}
.nh_text p {
	font-size: .8em;
	color:#787878;
	line-height: 1.2em;
}
.nh_text a {
	text-decoration:none;
	color: #464646;
}
/*------------------------------------------- Footer */
#footer {
	background: #711471;
	padding: 3% 0;
}
#footer p {
	margin: 0;
	padding: 0;
	text-align:center;
	font-size: .8em;
	color:#b161a6;
}


/*------------------------------------------- Tablet */
@media screen and (max-width: 1024px) {
}
/*------------------------------------------- Tablet Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
}
/*------------------------------------------- Mobile */
@media screen and (max-width: 480px) {
}